openapi: 3.1.0
info:
  title: OnlineOrNot API
  description: "Interact with OnlineOrNot programmatically via the OnlineOrNot API.\n\nUsing the OnlineOrNot API requires authentication so that OnlineOrNot knows who is making requests and what permissions you have. Create an API token to grant access to the API to perform actions.\n\nTo create an API token, from the OnlineOrNot dashboard, go to Settings > Developers and select Create Token. \n\nTotally new to OnlineOrNot? [Start here](https://onlineornot.com/docs/welcome/)."
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 1.0.0
servers:
  - url: https://api.onlineornot.com
    description: Client API
components:
  securitySchemes:
    api_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas: {}
  parameters: {}
paths:
  /v1/tokens/verify:
    get:
      tags:
        - Tokens
      security:
        - api_token: []
      description: Verify a token
      responses:
        "200":
          description: Returns that the given API token is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifier
                        example: a1b2c3d4
                      status:
                        type: string
                        description: Status
                        example: active
                    required:
                      - id
                      - status
                  success:
                    type: boolean
                    default: true
                    description: Whether the API call was successful
                    example: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "401":
          description: Returns an error message if the token is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: "null"
                  success:
                    type: boolean
                    default: false
                    description: Whether the API call was successful
                    example: false
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                          description: Error code
                          example: 10001
                        message:
                          type: string
                          description: A message to describe the error
                          example: This API Token is invalid
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/tokens/permissions:
    get:
      tags:
        - Tokens
      security:
        - api_token: []
      description: Retrieve a token's permissions
      responses:
        "200":
          description: Returns the permissions of a given API token
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      permissions:
                        type: array
                        items:
                          type: string
                          description: One of the token's permissions
                          example: uptime_checks (read)
                    required:
                      - permissions
                  success:
                    type: boolean
                    default: true
                    description: Whether the API call was successful
                    example: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/checks:
    get:
      tags:
        - Checks
      description: List all checks
      security:
        - api_token: []
      parameters:
        - schema:
            type: number
            minimum: 1
            default: 1
            description: Page number of paginated results.
            example: 1
          required: false
          name: page
          in: query
        - schema:
            type: number
            default: 20
            description: Number of items per page.
            example: 20
          required: false
          name: per_page
          in: query
      responses:
        "200":
          description: Returns a list of OnlineOrNot Checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier
                          example: a1b2c3d4
                        name:
                          type: string
                          description: Name of the check
                          example: My landing page
                        url:
                          type: string
                          format: uri
                          description: URL to check
                          example: https://example.com
                        status:
                          type:
                            - string
                            - "null"
                          enum:
                            - ONLINE
                            - OFFLINE
                          description: Status of the check
                          example: ONLINE
                        lastQueued:
                          type: string
                          description: Last time the check was queued
                          example: "2021-01-01T00:00:00.000Z"
                      required:
                        - id
                        - name
                        - url
                        - status
                        - lastQueued
                  result_info:
                    type: object
                    properties:
                      page:
                        type: number
                        default: 1
                        description: Page number of paginated results.
                        example: 1
                      per_page:
                        type: number
                        default: 20
                        description: Number of items per page.
                        example: 20
                      count:
                        type: number
                        description: Number of items on the current page.
                        example: 1
                      total_count:
                        type: number
                        description: Total number of items.
                        example: 1
                    required:
                      - page
                      - per_page
                      - count
                      - total_count
                  success:
                    type: boolean
                    default: true
                    description: Whether the API call was successful
                    example: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - result_info
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
    post:
      tags:
        - Checks
      description: Create a check
      security:
        - api_token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the check
                  example: My landing page
                url:
                  type: string
                  format: uri
                  description: URL to check
                  example: https://example.com
                textToSearchFor:
                  type: string
                  description: Text to search for in the response
                  example: Example Domain
                testInterval:
                  type: integer
                  minimum: 30
                  description: Interval in seconds between checks
                  example: 60
                numberOfFailsBeforeAlert:
                  type: integer
                  minimum: 1
                  default: 2
                  description: Number of failing checks before an alert is sent
                  example: 2
                type:
                  type: string
                  enum:
                    - UPTIME_CHECK
                    - BROWSER_CHECK
                  default: UPTIME_CHECK
                  description: Type of check
                  example: UPTIME_CHECK
                alertPriority:
                  type: string
                  enum:
                    - LOW
                    - HIGH
                  default: LOW
                  description: Alert Priority
                  example: LOW
                headers:
                  type: object
                  additionalProperties:
                    type: string
                    description: Header value
                    example: My Value
                  description: Headers to send with the request
                  example:
                    X-My-Header: My Value
                method:
                  type: string
                  enum:
                    - GET
                    - HEAD
                    - POST
                    - PUT
                    - PATCH
                    - DELETE
                  default: GET
                  description: HTTP Method
                  example: GET
                body:
                  type: string
                  example: Hello World
                followRedirects:
                  type: boolean
                  default: true
                  description: Whether to follow redirects
                  example: true
                assertions:
                  type: object
                  additionalProperties:
                    type: string
                verifySsl:
                  type: boolean
                  default: false
                  description: Whether to fail a check if SSL verification fails
                  example: false
                authUsername:
                  type: string
                  description: Username to use for URLs behind HTTP Basic Auth
                  example: username
                authPassword:
                  type: string
                  description: Password to use for URLs behind HTTP Basic Auth
                  example: password
              required:
                - name
                - url
      responses:
        "200":
          description: Create a new OnlineOrNot Check
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifier
                        example: a1b2c3d4
                      name:
                        type: string
                        description: Name of the check
                        example: My landing page
                      url:
                        type: string
                        format: uri
                        description: URL to check
                        example: https://example.com
                      status:
                        type:
                          - string
                          - "null"
                        enum:
                          - ONLINE
                          - OFFLINE
                        description: Status of the check
                        example: ONLINE
                      lastQueued:
                        type: string
                        description: Last time the check was queued
                        example: "2021-01-01T00:00:00.000Z"
                    required:
                      - id
                      - name
                      - url
                      - status
                      - lastQueued
                  success:
                    type: boolean
                    default: true
                    description: Whether the API call was successful
                    example: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/checks/{check_id}:
    get:
      tags:
        - Checks
      description: Retrieve a check
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            minLength: 8
            description: Identifier
            example: a1b2c3d4
          required: true
          name: check_id
          in: path
      responses:
        "200":
          description: Retrieve the specified OnlineOrNot Check
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifier
                        example: a1b2c3d4
                      name:
                        type: string
                        description: Name of the check
                        example: My landing page
                      url:
                        type: string
                        format: uri
                        description: URL to check
                        example: https://example.com
                      status:
                        type:
                          - string
                          - "null"
                        enum:
                          - ONLINE
                          - OFFLINE
                        description: Status of the check
                        example: ONLINE
                      lastQueued:
                        type: string
                        description: Last time the check was queued
                        example: "2021-01-01T00:00:00.000Z"
                    required:
                      - id
                      - name
                      - url
                      - status
                      - lastQueued
                  success:
                    type: boolean
                    default: true
                    description: Whether the API call was successful
                    example: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
    delete:
      tags:
        - Checks
      description: Delete a check
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            minLength: 8
            description: Identifier
            example: a1b2c3d4
          required: true
          name: check_id
          in: path
      responses:
        "200":
          description: Returns the deleted OnlineOrNot Check's ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifier
                        example: a1b2c3d4
                    required:
                      - id
                  success:
                    type: boolean
                    default: true
                    description: Whether the API call was successful
                    example: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/heartbeat/{heartbeat_id}:
    get:
      tags:
        - Heartbeats
      description: Send a heartbeat
      parameters:
        - schema:
            type: string
            minLength: 8
            description: Identifier
            example: a1b2c3d4
          required: true
          name: heartbeat_id
          in: path
      responses:
        "200":
          description: Accepts an incoming heartbeat and returns nothing
        "500":
          description: Internal Server Error
    post:
      tags:
        - Heartbeats
      description: Send a heartbeat
      parameters:
        - schema:
            type: string
            minLength: 8
            description: Identifier
            example: a1b2c3d4
          required: true
          name: heartbeat_id
          in: path
      responses:
        "200":
          description: Accepts an incoming heartbeat and returns nothing
        "500":
          description: Internal Server Error
webhooks: {}
