{"openapi":"3.1.0","info":{"title":"OnlineOrNot API","description":"Interact with OnlineOrNot programmatically via the OnlineOrNot API.\n\nUsing the OnlineOrNot API requires authentication so that OnlineOrNot knows who is making requests and what permissions you have. Create an API token to grant access to the API to perform actions.\n\nTo create an API token, from the OnlineOrNot dashboard, go to Settings > Developers and select Create Token. \n\nTotally new to OnlineOrNot? [Start here](https://onlineornot.com/docs/welcome/).","license":{"name":"BSD-3-Clause","url":"https://opensource.org/licenses/BSD-3-Clause"},"version":"1.0.0"},"servers":[{"url":"https://api.onlineornot.com","description":"Client API"}],"components":{"securitySchemes":{"api_token":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{},"parameters":{}},"paths":{"/v1/tokens/verify":{"get":{"tags":["Tokens"],"security":[{"api_token":[]}],"description":"Verify a token","responses":{"200":{"description":"Returns that the given API token is valid","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"status":{"type":"string","description":"Status","example":"active"}},"required":["id","status"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"401":{"description":"Returns an error message if the token is invalid","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"null"},"success":{"type":"boolean","default":false,"description":"Whether the API call was successful","example":false},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number","description":"Error code","example":10001},"message":{"type":"string","description":"A message to describe the error","example":"This API Token is invalid"}},"required":["code","message"]}},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/tokens/permissions":{"get":{"tags":["Tokens"],"security":[{"api_token":[]}],"description":"Retrieve a token's permissions","responses":{"200":{"description":"Returns the permissions of a given API token","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"permissions":{"type":"array","items":{"type":"string","description":"One of the token's permissions","example":"uptime_checks (read)"}}},"required":["permissions"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/checks":{"get":{"tags":["Checks"],"description":"List all checks","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","default":"1","description":"Page number of paginated results.","example":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"string","default":"20","description":"Number of items per page.","example":20},"required":false,"name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of OnlineOrNot Checks","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"Name of the check","example":"My landing page"},"url":{"type":"string","format":"uri","description":"URL to check","example":"https://example.com"},"status":{"type":["string","null"],"enum":["ONLINE","OFFLINE"],"description":"Status of the check","example":"ONLINE"},"last_queued":{"type":"string","description":"Last time the check was queued","example":"2021-01-01T00:00:00.000Z"}},"required":["id","name","url","status","last_queued"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"description":"Page number of paginated results.","example":1},"per_page":{"type":"number","default":20,"description":"Number of items per page.","example":20},"count":{"type":"number","description":"Number of items on the current page.","example":1},"total_count":{"type":"number","description":"Total number of items.","example":1}},"required":["page","per_page","count","total_count"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Checks"],"description":"Create a check","security":[{"api_token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the check","example":"My landing page"},"url":{"type":"string","format":"uri","description":"URL to check","example":"https://example.com"},"text_to_search_for":{"type":"string","description":"Text to search for in the response","example":"Example Domain"},"test_interval":{"type":"integer","minimum":30,"description":"Interval in seconds between checks","example":60},"number_of_fails_before_alert":{"type":"integer","minimum":1,"default":2,"description":"Number of failing checks before an alert is sent","example":2},"type":{"type":"string","enum":["UPTIME_CHECK","BROWSER_CHECK"],"default":"UPTIME_CHECK","description":"Type of check","example":"UPTIME_CHECK"},"alert_priority":{"type":"string","enum":["LOW","HIGH"],"default":"LOW","description":"Alert Priority","example":"LOW"},"headers":{"type":"object","additionalProperties":{"type":"string","description":"Header value","example":"My Value"},"description":"Headers to send with the request","example":{"X-My-Header":"My Value"}},"method":{"type":"string","enum":["GET","HEAD","POST","PUT","PATCH","DELETE"],"default":"GET","description":"HTTP Method","example":"GET"},"body":{"type":"string","example":"Hello World"},"follow_redirects":{"type":"boolean","default":true,"description":"Whether to follow redirects","example":true},"assertions":{"type":"object","additionalProperties":{"type":"string"}},"verify_ssl":{"type":"boolean","default":false,"description":"Whether to fail a check if SSL verification fails","example":false},"auth_username":{"type":"string","description":"Username to use for URLs behind HTTP Basic Auth","example":"username"},"auth_password":{"type":"string","description":"Password to use for URLs behind HTTP Basic Auth","example":"password"}},"required":["name","url"]}}}},"responses":{"200":{"description":"Create a new OnlineOrNot Check","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"Name of the check","example":"My landing page"},"url":{"type":"string","format":"uri","description":"URL to check","example":"https://example.com"},"status":{"type":["string","null"],"enum":["ONLINE","OFFLINE"],"description":"Status of the check","example":"ONLINE"},"last_queued":{"type":"string","description":"Last time the check was queued","example":"2021-01-01T00:00:00.000Z"}},"required":["id","name","url","status","last_queued"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/checks/{check_id}":{"get":{"tags":["Checks"],"description":"Retrieve a check","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"check_id","in":"path"}],"responses":{"200":{"description":"Retrieve the specified OnlineOrNot Check","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"Name of the check","example":"My landing page"},"url":{"type":"string","format":"uri","description":"URL to check","example":"https://example.com"},"status":{"type":["string","null"],"enum":["ONLINE","OFFLINE"],"description":"Status of the check","example":"ONLINE"},"last_queued":{"type":"string","description":"Last time the check was queued","example":"2021-01-01T00:00:00.000Z"}},"required":["id","name","url","status","last_queued"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Checks"],"description":"Delete a check","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"check_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted OnlineOrNot Check's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"}},"required":["id"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}":{"get":{"tags":["Status Pages"],"description":"Retrieve a status page","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_id","in":"path"}],"responses":{"200":{"description":"Retrieve the specified OnlineOrNot Status Page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"Name of the Status Page","example":"My Example SaaS"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\"","example":"status"},"custom_domain":{"type":"string","format":"uri","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\"","example":"https://status.yourdomain.com"}},"required":["id","name","subdomain"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Status Pages"],"description":"Update a status page","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the Status Page","example":"My Example SaaS"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.onlineornot.com\"","example":"status"},"custom_domain":{"type":"string","format":"uri","description":"The custom domain your status page is hosted at.","example":"https://status.yourdomain.com"},"password":{"type":"string","description":"The password that will be required to view your status page"}},"required":["name","subdomain"]}}}},"responses":{"200":{"description":"Update an existing OnlineOrNot Status Page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"Name of the Status Page","example":"My Example SaaS"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\"","example":"status"},"custom_domain":{"type":"string","format":"uri","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\"","example":"https://status.yourdomain.com"}},"required":["id","name","subdomain"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Status Pages"],"description":"Delete a status page","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted OnlineOrNot Check's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"}},"required":["id"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages":{"post":{"tags":["Status Pages"],"description":"Create a status page","security":[{"api_token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name of the Status Page","example":"My Example SaaS"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.onlineornot.com\"","example":"status"},"custom_domain":{"type":"string","format":"uri","description":"The custom domain your status page is hosted at.","example":"https://status.yourdomain.com"},"password":{"type":"string","description":"The password that will be required to view your status page"}},"required":["name","subdomain"]}}}},"responses":{"200":{"description":"Create a new OnlineOrNot Status Page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"Name of the Status Page","example":"My Example SaaS"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\"","example":"status"},"custom_domain":{"type":"string","format":"uri","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\"","example":"https://status.yourdomain.com"}},"required":["id","name","subdomain"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"get":{"tags":["Status Pages"],"description":"List all status pages","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","default":"1","description":"Page number of paginated results.","example":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"string","default":"20","description":"Number of items per page.","example":20},"required":false,"name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of OnlineOrNot Status Pages","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"Name of the Status Page","example":"My Example SaaS"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\"","example":"status"},"custom_domain":{"type":"string","format":"uri","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\"","example":"https://status.yourdomain.com"}},"required":["id","name","subdomain"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"description":"Page number of paginated results.","example":1},"per_page":{"type":"number","default":20,"description":"Number of items per page.","example":20},"count":{"type":"number","description":"Number of items on the current page.","example":1},"total_count":{"type":"number","description":"Total number of items.","example":1}},"required":["page","per_page","count","total_count"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/components":{"post":{"tags":["Status Page Components"],"description":"Create a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"a name for the component","example":"Website"},"status":{"type":"string","enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"default":"OPERATIONAL","description":"Status of the component","example":"MAJOR_OUTAGE"},"display_uptime":{"type":"boolean","default":true,"description":"Show this component's uptime and historical incidents on the status page.","example":true},"display_metrics":{"type":"boolean","default":true,"description":"Show this component's response time metrics on the status page.","example":true}},"required":["name"]}}}},"responses":{"200":{"description":"Returns the newly created status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"a name for the component","example":"Website"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"description":"Status of the component","example":"MAJOR_OUTAGE"},"display_uptime":{"type":"boolean","default":true,"description":"Show this component's uptime and historical incidents on the status page.","example":true},"display_metrics":{"type":"boolean","default":true,"description":"Show this component's response time metrics on the status page.","example":true},"created_at":{"type":"string","description":"When the component was created","example":"2021-01-01T00:00:00.000Z"},"updated_at":{"type":"string","description":"When the component was last updated","example":"2021-02-01T00:00:00.000Z"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"get":{"tags":["Status Page Components"],"description":"List all components","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_id","in":"path"},{"schema":{"type":"string","default":"1","description":"Page number of paginated results.","example":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"string","default":"20","description":"Number of items per page.","example":20},"required":false,"name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of components for a status page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"a name for the component","example":"Website"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"description":"Status of the component","example":"MAJOR_OUTAGE"},"display_uptime":{"type":"boolean","default":true,"description":"Show this component's uptime and historical incidents on the status page.","example":true},"display_metrics":{"type":"boolean","default":true,"description":"Show this component's response time metrics on the status page.","example":true},"created_at":{"type":"string","description":"When the component was created","example":"2021-01-01T00:00:00.000Z"},"updated_at":{"type":"string","description":"When the component was last updated","example":"2021-02-01T00:00:00.000Z"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"description":"Page number of paginated results.","example":1},"per_page":{"type":"number","default":20,"description":"Number of items per page.","example":20},"count":{"type":"number","description":"Number of items on the current page.","example":1},"total_count":{"type":"number","description":"Total number of items.","example":1}},"required":["page","per_page","count","total_count"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/components/{status_page_component_id}":{"get":{"tags":["Status Page Components"],"description":"Retrieve a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_component_id","in":"path"}],"responses":{"200":{"description":"Returns a status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"a name for the component","example":"Website"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"description":"Status of the component","example":"MAJOR_OUTAGE"},"display_uptime":{"type":"boolean","default":true,"description":"Show this component's uptime and historical incidents on the status page.","example":true},"display_metrics":{"type":"boolean","default":true,"description":"Show this component's response time metrics on the status page.","example":true},"created_at":{"type":"string","description":"When the component was created","example":"2021-01-01T00:00:00.000Z"},"updated_at":{"type":"string","description":"When the component was last updated","example":"2021-02-01T00:00:00.000Z"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Status Page Components"],"description":"Update a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_component_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"a name for the component","example":"Website"},"status":{"type":"string","enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"default":"OPERATIONAL","description":"Status of the component","example":"MAJOR_OUTAGE"},"display_uptime":{"type":"boolean","default":true,"description":"Show this component's uptime and historical incidents on the status page.","example":true},"display_metrics":{"type":"boolean","default":true,"description":"Show this component's response time metrics on the status page.","example":true}},"required":["name"]}}}},"responses":{"200":{"description":"Returns the updated status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"name":{"type":"string","description":"a name for the component","example":"Website"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"description":"Status of the component","example":"MAJOR_OUTAGE"},"display_uptime":{"type":"boolean","default":true,"description":"Show this component's uptime and historical incidents on the status page.","example":true},"display_metrics":{"type":"boolean","default":true,"description":"Show this component's response time metrics on the status page.","example":true},"created_at":{"type":"string","description":"When the component was created","example":"2021-01-01T00:00:00.000Z"},"updated_at":{"type":"string","description":"When the component was last updated","example":"2021-02-01T00:00:00.000Z"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Status Page Components"],"description":"Delete a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_component_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted component's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"}},"required":["id"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/incidents":{"get":{"tags":["Status Page Incidents"],"description":"List all incidents","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"status_page_id","in":"path"},{"schema":{"type":"string","default":"1","description":"Page number of paginated results.","example":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"string","default":"20","description":"Number of items per page.","example":20},"required":false,"name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of incidents for a status page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Identifier","example":"a1b2c3d4"},"title":{"type":"string","description":"a title for the incident","example":"API is inaccessible"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","MINOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"description":"Impact of the incident","example":"MAJOR_OUTAGE"},"started":{"type":"string","description":"When the incident started","example":"2021-01-01T00:00:00.000Z"},"ended":{"type":"string","description":"When the incident was resolved","example":"2021-02-01T00:00:00.000Z"}},"required":["id","title","impact","started"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"description":"Page number of paginated results.","example":1},"per_page":{"type":"number","default":20,"description":"Number of items per page.","example":20},"count":{"type":"number","description":"Number of items on the current page.","example":1},"total_count":{"type":"number","description":"Total number of items.","example":1}},"required":["page","per_page","count","total_count"]},"success":{"type":"boolean","default":true,"description":"Whether the API call was successful","example":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/heartbeat/{heartbeat_id}":{"get":{"tags":["Heartbeats"],"description":"Send a heartbeat","parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"heartbeat_id","in":"path"}],"responses":{"200":{"description":"Accepts an incoming heartbeat and returns nothing"},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Heartbeats"],"description":"Send a heartbeat","parameters":[{"schema":{"type":"string","minLength":8,"description":"Identifier","example":"a1b2c3d4"},"required":true,"name":"heartbeat_id","in":"path"}],"responses":{"200":{"description":"Accepts an incoming heartbeat and returns nothing"},"500":{"description":"Internal Server Error"}}}}},"webhooks":{}}