{"openapi":"3.1.0","info":{"title":"OnlineOrNot API","description":"Interact with OnlineOrNot programmatically via the OnlineOrNot API.\n\nUsing the OnlineOrNot API requires authentication so that OnlineOrNot knows who is making requests and what permissions you have. Create an API token to grant access to the API to perform actions.\n\nTo create an API token, from the OnlineOrNot dashboard, go to Settings > Developers and select Create Token. \n\nTotally new to OnlineOrNot? [Start here](https://onlineornot.com/docs/welcome/).","license":{"name":"BSD-3-Clause","url":"https://opensource.org/licenses/BSD-3-Clause"},"version":"1.0.0"},"servers":[{"url":"https://api.onlineornot.com","description":"Client API"}],"components":{"securitySchemes":{"api_token":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{},"parameters":{}},"paths":{"/{heartbeat_id}":{"get":{"tags":["Heartbeats"],"summary":"Send a heartbeat ping (GET). Use this from scripts or cron jobs to signal completion. Note: This endpoint uses oonchk.com, not api.onlineornot.com.","description":"Send a heartbeat (GET)","operationId":"pingHeartbeatGet","servers":[{"url":"https://oonchk.com","description":"Heartbeat Ping Server"}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Heartbeat ID"},"required":true,"description":"Heartbeat ID","name":"heartbeat_id","in":"path"}],"responses":{"200":{"description":"Heartbeat received successfully"},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Heartbeats"],"summary":"Send a heartbeat ping (POST). Use this from scripts or cron jobs to signal completion. Note: This endpoint uses oonchk.com, not api.onlineornot.com.","description":"Send a heartbeat (POST)","operationId":"pingHeartbeat","servers":[{"url":"https://oonchk.com","description":"Heartbeat Ping Server"}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Heartbeat ID"},"required":true,"description":"Heartbeat ID","name":"heartbeat_id","in":"path"}],"responses":{"200":{"description":"Heartbeat received successfully"},"500":{"description":"Internal Server Error"}}}},"/v1/tokens/verify":{"get":{"tags":["Tokens"],"security":[{"api_token":[]}],"description":"Verify a token","responses":{"200":{"description":"Returns that the given API token is valid","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Token ID"},"status":{"type":"string","example":"active","description":"Status"}},"required":["id","status"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"401":{"description":"Returns an error message if the token is invalid","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"null"},"success":{"type":"boolean","default":false,"example":false,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number","example":10001,"description":"Error code"},"message":{"type":"string","example":"This API Token is invalid","description":"A message to describe the error"}},"required":["code","message"]}},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/tokens/permissions":{"get":{"tags":["Tokens"],"security":[{"api_token":[]}],"description":"Retrieve a token's permissions","responses":{"200":{"description":"Returns the permissions of a given API token","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"permissions":{"type":"array","items":{"type":"string","example":"uptime_checks (read)","description":"One of the token's permissions"}}},"required":["permissions"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/checks":{"get":{"tags":["Checks"],"description":"List all checks","summary":"Retrieve a paginated list of all uptime checks","operationId":"listChecks","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","default":"1","example":1,"description":"Page number of paginated results."},"required":false,"description":"Page number of paginated results.","name":"page","in":"query"},{"schema":{"type":"string","default":"20","example":20,"description":"Number of items per page."},"required":false,"description":"Number of items per page.","name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of OnlineOrNot Checks","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Uptime Check ID"},"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"check_type":{"type":"string","enum":["UPTIME","BROWSER"],"example":"UPTIME","description":"Indicates whether the check is a regular uptime check, or a browser check."},"last_queued":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"Last time the check was queued"},"status":{"type":"string","enum":["UP","DOWN","PENDING","PAUSED","MUTED","MAINTENANCE","RECOVERING","VERIFYING"],"example":"UP","description":"Current status of the check based on the latest uptime event"}},"required":["id","name","url","check_type","last_queued","status"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"example":1,"description":"Page number of paginated results."},"per_page":{"type":"number","default":20,"example":20,"description":"Number of items per page."},"count":{"type":"number","example":1,"description":"Number of items on the current page."},"total_count":{"type":"number","example":1,"description":"Total number of items."}},"required":["count","total_count"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Checks"],"description":"Create a check","summary":"Create a new uptime check to monitor a URL","operationId":"createCheck","security":[{"api_token":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"text_to_search_for":{"type":"string","example":"Example Domain","description":"Text to search for in the response"},"test_interval":{"type":"integer","minimum":30,"example":60,"description":"Interval in seconds between checks"},"reminder_alert_interval_minutes":{"type":"integer","minimum":-1,"default":1440,"example":1440,"description":"Interval in minutes between reminders (-1 for never)"},"test_regions":{"type":"array","items":{"type":"string"}},"user_alerts":{"type":"array","items":{"type":"string"}},"slack_alerts":{"type":"array","items":{"type":"string"}},"incident_io_alerts":{"type":"array","items":{"type":"string"}},"microsoft_teams_alerts":{"type":"array","items":{"type":"string"}},"webhook_alerts":{"type":"array","items":{"type":"string"}},"confirmation_period_seconds":{"type":"integer","minimum":0,"default":60,"example":60,"description":"Confirmation period in seconds"},"recovery_period_seconds":{"type":"integer","minimum":0,"default":180,"example":180,"description":"Recovery period in seconds"},"timeout":{"type":"integer","minimum":1000,"default":10000,"example":10000,"description":"Timeout in milliseconds"},"type":{"type":"string","enum":["UPTIME_CHECK","BROWSER_CHECK"],"default":"UPTIME_CHECK","example":"UPTIME_CHECK","description":"Type of check"},"alert_priority":{"type":"string","enum":["LOW","HIGH"],"default":"LOW","example":"LOW","description":"Alert Priority"},"headers":{"type":"object","additionalProperties":{"type":"string","example":"My Value","description":"Header value"},"example":{"X-My-Header":"My Value"},"description":"Headers to send with the request"},"method":{"type":"string","enum":["GET","HEAD","POST","PUT","PATCH","DELETE"],"default":"GET","example":"GET","description":"HTTP Method"},"body":{"type":"string","example":"Hello World"},"follow_redirects":{"type":"boolean","default":true,"example":true,"description":"Whether to follow redirects"},"assertions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["JSON_BODY","TEXT_BODY","RESPONSE_HEADERS","HTML_BODY"],"example":"JSON_BODY","description":"Type of assertion"},"property":{"type":"string","example":"$.data.name","description":"Property to assert on (JSONPath for JSON_BODY, header name for RESPONSE_HEADERS)"},"comparison":{"type":"string","enum":["EQUALS","NOT_EQUALS","GREATER_THAN","LESS_THAN","NULL","NOT_NULL","EMPTY","NOT_EMPTY","CONTAINS","NOT_CONTAINS","FALSE","TRUE"],"example":"EQUALS","description":"Comparison operator"},"expected":{"type":"string","example":"John Doe","description":"Expected value"}},"required":["type","property","comparison","expected"]},"example":[{"type":"JSON_BODY","property":"$.data.name","comparison":"EQUALS","expected":"John Doe"},{"type":"HTML_BODY","property":"meta[name=\"description\"]","comparison":"NOT_EMPTY","expected":""}],"description":"Assertions to run on the response"},"verify_ssl":{"type":"boolean","default":false,"example":false,"description":"Whether to fail a check if SSL verification fails"},"auth_username":{"type":"string","example":"username","description":"Username to use for URLs behind HTTP Basic Auth"},"auth_password":{"type":"string","example":"password","description":"Password to use for URLs behind HTTP Basic Auth"},"version":{"type":"string","enum":["NODE20_PLAYWRIGHT"],"example":"NODE20_PLAYWRIGHT","description":"Version of the Browser Check"}},"required":["name","url"]},"examples":{"basic":{"summary":"Basic uptime check","value":{"name":"My Website Check","url":"https://example.com","test_interval":60}},"advanced":{"summary":"Advanced check with headers","value":{"name":"API Check with Auth","url":"https://api.example.com","headers":{"Authorization":"Bearer token"},"test_interval":30,"alert_priority":"HIGH"}}}}}},"responses":{"200":{"description":"Create a new OnlineOrNot Check","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Uptime Check ID"},"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"check_type":{"type":"string","enum":["UPTIME","BROWSER"],"example":"UPTIME","description":"Indicates whether the check is a regular uptime check, or a browser check."},"last_queued":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"Last time the check was queued"},"status":{"type":"string","enum":["UP","DOWN","PENDING","PAUSED","MUTED","MAINTENANCE","RECOVERING","VERIFYING"],"example":"UP","description":"Current status of the check based on the latest uptime event"}},"required":["id","name","url","check_type","last_queued","status"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/checks/{check_id}":{"get":{"tags":["Checks"],"description":"Retrieve a check","summary":"Look up detailed information about a specific uptime check","operationId":"getCheck","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Uptime Check ID"},"required":true,"description":"Uptime Check ID","name":"check_id","in":"path"}],"responses":{"200":{"description":"Retrieve the specified OnlineOrNot Check","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Uptime Check ID"},"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"check_type":{"type":"string","enum":["UPTIME","BROWSER"],"example":"UPTIME","description":"Indicates whether the check is a regular uptime check, or a browser check."},"last_queued":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"Last time the check was queued"},"status":{"type":"string","enum":["UP","DOWN","PENDING","PAUSED","MUTED","MAINTENANCE","RECOVERING","VERIFYING"],"example":"UP","description":"Current status of the check based on the latest uptime event"}},"required":["id","name","url","check_type","last_queued","status"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Checks"],"description":"Delete a check","summary":"Permanently delete an uptime check","operationId":"deleteCheck","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Uptime Check ID"},"required":true,"description":"Uptime Check ID","name":"check_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted OnlineOrNot Check's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Uptime Check ID"}},"required":["id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"patch":{"tags":["Checks"],"description":"Modify a check","summary":"Modify the configuration of an existing uptime check","operationId":"updateCheck","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Uptime Check ID"},"required":true,"description":"Uptime Check ID","name":"check_id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"text_to_search_for":{"type":"string","example":"Example Domain","description":"Text to search for in the response"},"test_interval":{"type":"integer","minimum":30,"example":60,"description":"Interval in seconds between checks"},"type":{"type":"string","enum":["UPTIME_CHECK","BROWSER_CHECK"],"example":"UPTIME_CHECK","description":"Type of check"},"alert_priority":{"type":"string","enum":["LOW","HIGH"],"example":"LOW","description":"Alert Priority"},"headers":{"type":"object","additionalProperties":{"type":"string","example":"My Value","description":"Header value"},"example":{"X-My-Header":"My Value"},"description":"Headers to send with the request"},"method":{"type":"string","enum":["GET","HEAD","POST","PUT","PATCH","DELETE"],"example":"GET","description":"HTTP Method"},"body":{"type":"string","example":"Hello World"},"follow_redirects":{"type":"boolean","example":true,"description":"Whether to follow redirects"},"assertions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["JSON_BODY","TEXT_BODY","RESPONSE_HEADERS","HTML_BODY"],"example":"JSON_BODY","description":"Type of assertion"},"property":{"type":"string","example":"$.data.name","description":"Property to assert on (JSONPath for JSON_BODY, header name for RESPONSE_HEADERS)"},"comparison":{"type":"string","enum":["EQUALS","NOT_EQUALS","GREATER_THAN","LESS_THAN","NULL","NOT_NULL","EMPTY","NOT_EMPTY","CONTAINS","NOT_CONTAINS","FALSE","TRUE"],"example":"EQUALS","description":"Comparison operator"},"expected":{"type":"string","example":"John Doe","description":"Expected value"}},"required":["type","property","comparison","expected"]}},"verify_ssl":{"type":"boolean","example":false,"description":"Whether to fail a check if SSL verification fails"},"auth_username":{"type":"string","example":"username","description":"Username to use for URLs behind HTTP Basic Auth"},"auth_password":{"type":"string","example":"password","description":"Password to use for URLs behind HTTP Basic Auth"},"timeout":{"type":"integer","minimum":1000,"example":10000,"description":"Timeout in milliseconds"},"version":{"type":"string","enum":["NODE20_PLAYWRIGHT"],"example":"NODE20_PLAYWRIGHT","description":"Version of the Browser Check"},"reminder_alert_interval_minutes":{"type":"integer","minimum":-1,"example":1440,"description":"Interval in minutes between reminders (-1 for never)"},"confirmation_period_seconds":{"type":"integer","minimum":0,"example":60,"description":"Confirmation period in seconds"},"recovery_period_seconds":{"type":"integer","minimum":0,"example":180,"description":"Recovery period in seconds"},"test_regions":{"type":"array","items":{"type":"string"}},"user_alerts":{"type":"array","items":{"type":"string"}},"slack_alerts":{"type":"array","items":{"type":"string"}},"incident_io_alerts":{"type":"array","items":{"type":"string"}},"microsoft_teams_alerts":{"type":"array","items":{"type":"string"}},"webhook_alerts":{"type":"array","items":{"type":"string"}},"paused":{"type":"boolean","example":false,"description":"Whether the check is paused (completely stops execution) or actively running"},"muted":{"type":"boolean","example":false,"description":"Whether the check is muted (continues running but suppresses alerts) or sending alerts normally"}}},"examples":{"updateHeaders":{"summary":"Update check headers","value":{"muted":true,"headers":{"X-Custom-Header":"new-value","My-Unused-Header":null}}}}}}},"responses":{"200":{"description":"Modify an OnlineOrNot Check","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Uptime Check ID"},"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"check_type":{"type":"string","enum":["UPTIME","BROWSER"],"example":"UPTIME","description":"Indicates whether the check is a regular uptime check, or a browser check."},"last_queued":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"Last time the check was queued"},"status":{"type":"string","enum":["UP","DOWN","PENDING","PAUSED","MUTED","MAINTENANCE","RECOVERING","VERIFYING"],"example":"UP","description":"Current status of the check based on the latest uptime event"}},"required":["id","name","url","check_type","last_queued","status"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}":{"get":{"tags":["Status Pages"],"description":"Retrieve a status page","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"}],"responses":{"200":{"description":"Retrieve the specified OnlineOrNot Status Page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"},"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\""},"custom_domain":{"type":["string","null"],"format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\""},"status":{"type":"string","enum":["ALL_SYSTEMS_OPERATIONAL","PARTIALLY_DEGRADED_SERVICE","MINOR_SERVICE_OUTAGE","MAJOR_SYSTEM_OUTAGE","SERVICE_UNDER_MAINTENANCE"],"example":"ALL_SYSTEMS_OPERATIONAL","description":"The current overall status of the status page"},"favicon_url":{"type":["string","null"],"example":"https://example.com/favicon.ico","description":"URL to the favicon for the status page"},"logo_url":{"type":["string","null"],"example":"https://example.com/logo.png","description":"URL to the logo for the status page"},"dark_logo_url":{"type":["string","null"],"example":"https://example.com/logo-dark.png","description":"URL to the dark mode logo for the status page"},"description":{"type":["string","null"],"example":"Real-time status updates for My Example SaaS","description":"A description of the status page"},"hide_from_search_engines":{"type":"boolean","example":false,"description":"Whether the status page is hidden from search engines"},"has_password":{"type":"boolean","example":false,"description":"Whether the status page requires a password to view"},"allowed_ips":{"type":["array","null"],"items":{"type":"string"},"example":["192.168.1.1","10.0.0.0/8"],"description":"List of IP addresses or CIDR ranges allowed to access this status page"}},"required":["id","name","subdomain","status","hide_from_search_engines","has_password"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Status Pages"],"description":"Update a status page","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.onlineornot.com\""},"custom_domain":{"type":"string","format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at."},"password":{"type":["string","null"],"description":"The password required to view your status page. If omitted, keeps existing password. If null or empty string, removes password protection. If non-empty string, sets new password."},"description":{"type":"string","example":"Real-time status updates for My Example SaaS","description":"A description of your status page"},"hide_from_search_engines":{"type":"boolean","example":false,"description":"Whether to hide the status page from search engines"},"allowed_ips":{"type":"array","items":{"type":"string"},"example":["192.168.1.1","10.0.0.0/8"],"description":"List of IP addresses or CIDR ranges allowed to access this status page"}},"required":["name","subdomain"]}}}},"responses":{"200":{"description":"Update an existing OnlineOrNot Status Page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"},"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\""},"custom_domain":{"type":["string","null"],"format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\""},"status":{"type":"string","enum":["ALL_SYSTEMS_OPERATIONAL","PARTIALLY_DEGRADED_SERVICE","MINOR_SERVICE_OUTAGE","MAJOR_SYSTEM_OUTAGE","SERVICE_UNDER_MAINTENANCE"],"example":"ALL_SYSTEMS_OPERATIONAL","description":"The current overall status of the status page"},"favicon_url":{"type":["string","null"],"example":"https://example.com/favicon.ico","description":"URL to the favicon for the status page"},"logo_url":{"type":["string","null"],"example":"https://example.com/logo.png","description":"URL to the logo for the status page"},"dark_logo_url":{"type":["string","null"],"example":"https://example.com/logo-dark.png","description":"URL to the dark mode logo for the status page"},"description":{"type":["string","null"],"example":"Real-time status updates for My Example SaaS","description":"A description of the status page"},"hide_from_search_engines":{"type":"boolean","example":false,"description":"Whether the status page is hidden from search engines"},"has_password":{"type":"boolean","example":false,"description":"Whether the status page requires a password to view"},"allowed_ips":{"type":["array","null"],"items":{"type":"string"},"example":["192.168.1.1","10.0.0.0/8"],"description":"List of IP addresses or CIDR ranges allowed to access this status page"}},"required":["id","name","subdomain","status","hide_from_search_engines","has_password"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Status Pages"],"description":"Delete a status page","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted OnlineOrNot Check's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"}},"required":["id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_subdomain}/summary":{"get":{"tags":["Status Pages"],"description":"Get a status page's summary of its overall status, components, active incidents, and scheduled maintenance.","parameters":[{"schema":{"type":"string","minLength":1,"example":"hackernews","description":"The subdomain part of a status page's URL"},"required":true,"description":"The subdomain part of a status page's URL","name":"status_page_subdomain","in":"path"}],"responses":{"200":{"description":"Retrieve the specified OnlineOrNot status page summary","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"status":{"type":"object","properties":{"description":{"type":"string","enum":["Major System Outage","Minor Service Outage","Partially Degraded Service","Service Under Maintenance","All Systems Operational"],"example":"All Systems Operational","description":"The overall system's current status"}},"required":["description"]},"status_page":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"},"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\""},"custom_domain":{"type":["string","null"],"format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\""},"status":{"type":"string","enum":["ALL_SYSTEMS_OPERATIONAL","PARTIALLY_DEGRADED_SERVICE","MINOR_SERVICE_OUTAGE","MAJOR_SYSTEM_OUTAGE","SERVICE_UNDER_MAINTENANCE"],"example":"ALL_SYSTEMS_OPERATIONAL","description":"The current overall status of the status page"},"favicon_url":{"type":["string","null"],"example":"https://example.com/favicon.ico","description":"URL to the favicon for the status page"},"logo_url":{"type":["string","null"],"example":"https://example.com/logo.png","description":"URL to the logo for the status page"},"dark_logo_url":{"type":["string","null"],"example":"https://example.com/logo-dark.png","description":"URL to the dark mode logo for the status page"},"description":{"type":["string","null"],"example":"Real-time status updates for My Example SaaS","description":"A description of the status page"},"hide_from_search_engines":{"type":"boolean","example":false,"description":"Whether the status page is hidden from search engines"},"has_password":{"type":"boolean","example":false,"description":"Whether the status page requires a password to view"},"allowed_ips":{"type":["array","null"],"items":{"type":"string"},"example":["192.168.1.1","10.0.0.0/8"],"description":"List of IP addresses or CIDR ranges allowed to access this status page"}},"required":["id","name","subdomain","status","hide_from_search_engines","has_password"]},"components":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"},"name":{"type":"string","example":"Website","description":"a name for the component"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the component was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the component was last updated"},"group_id":{"type":"string","example":"a1b2c3d4","description":"Status Page Group ID"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at","group_id"]}},"active_incidents":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"}},"required":["id","title","impact","started","created_at","updated_at"]}},"scheduled_maintenance":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"},"start_date":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the scheduled maintenance is expected to start"},"duration_minutes":{"type":"integer","minimum":1,"example":60,"description":"How long (in minutes) the scheduled maintenance should be displayed on your status page before being resolved automatically"}},"required":["id","title","impact","started","created_at","updated_at","start_date","duration_minutes"]}}},"required":["status","status_page","components","active_incidents","scheduled_maintenance"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"404":{"description":"Not found"},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages":{"post":{"tags":["Status Pages"],"description":"Create a status page","security":[{"api_token":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.onlineornot.com\""},"custom_domain":{"type":"string","format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at."},"password":{"type":["string","null"],"description":"The password required to view your status page. If omitted, keeps existing password. If null or empty string, removes password protection. If non-empty string, sets new password."},"description":{"type":"string","example":"Real-time status updates for My Example SaaS","description":"A description of your status page"},"hide_from_search_engines":{"type":"boolean","example":false,"description":"Whether to hide the status page from search engines"},"allowed_ips":{"type":"array","items":{"type":"string"},"example":["192.168.1.1","10.0.0.0/8"],"description":"List of IP addresses or CIDR ranges allowed to access this status page"}},"required":["name","subdomain"]}}}},"responses":{"200":{"description":"Create a new OnlineOrNot Status Page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"},"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\""},"custom_domain":{"type":["string","null"],"format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\""},"status":{"type":"string","enum":["ALL_SYSTEMS_OPERATIONAL","PARTIALLY_DEGRADED_SERVICE","MINOR_SERVICE_OUTAGE","MAJOR_SYSTEM_OUTAGE","SERVICE_UNDER_MAINTENANCE"],"example":"ALL_SYSTEMS_OPERATIONAL","description":"The current overall status of the status page"},"favicon_url":{"type":["string","null"],"example":"https://example.com/favicon.ico","description":"URL to the favicon for the status page"},"logo_url":{"type":["string","null"],"example":"https://example.com/logo.png","description":"URL to the logo for the status page"},"dark_logo_url":{"type":["string","null"],"example":"https://example.com/logo-dark.png","description":"URL to the dark mode logo for the status page"},"description":{"type":["string","null"],"example":"Real-time status updates for My Example SaaS","description":"A description of the status page"},"hide_from_search_engines":{"type":"boolean","example":false,"description":"Whether the status page is hidden from search engines"},"has_password":{"type":"boolean","example":false,"description":"Whether the status page requires a password to view"},"allowed_ips":{"type":["array","null"],"items":{"type":"string"},"example":["192.168.1.1","10.0.0.0/8"],"description":"List of IP addresses or CIDR ranges allowed to access this status page"}},"required":["id","name","subdomain","status","hide_from_search_engines","has_password"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"get":{"tags":["Status Pages"],"description":"List all status pages","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","default":"1","example":1,"description":"Page number of paginated results."},"required":false,"description":"Page number of paginated results.","name":"page","in":"query"},{"schema":{"type":"string","default":"20","example":20,"description":"Number of items per page."},"required":false,"description":"Number of items per page.","name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of OnlineOrNot Status Pages","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"},"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\""},"custom_domain":{"type":["string","null"],"format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\""},"status":{"type":"string","enum":["ALL_SYSTEMS_OPERATIONAL","PARTIALLY_DEGRADED_SERVICE","MINOR_SERVICE_OUTAGE","MAJOR_SYSTEM_OUTAGE","SERVICE_UNDER_MAINTENANCE"],"example":"ALL_SYSTEMS_OPERATIONAL","description":"The current overall status of the status page"},"favicon_url":{"type":["string","null"],"example":"https://example.com/favicon.ico","description":"URL to the favicon for the status page"},"logo_url":{"type":["string","null"],"example":"https://example.com/logo.png","description":"URL to the logo for the status page"},"dark_logo_url":{"type":["string","null"],"example":"https://example.com/logo-dark.png","description":"URL to the dark mode logo for the status page"},"description":{"type":["string","null"],"example":"Real-time status updates for My Example SaaS","description":"A description of the status page"},"hide_from_search_engines":{"type":"boolean","example":false,"description":"Whether the status page is hidden from search engines"},"has_password":{"type":"boolean","example":false,"description":"Whether the status page requires a password to view"},"allowed_ips":{"type":["array","null"],"items":{"type":"string"},"example":["192.168.1.1","10.0.0.0/8"],"description":"List of IP addresses or CIDR ranges allowed to access this status page"}},"required":["id","name","subdomain","status","hide_from_search_engines","has_password"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"example":1,"description":"Page number of paginated results."},"per_page":{"type":"number","default":20,"example":20,"description":"Number of items per page."},"count":{"type":"number","example":1,"description":"Number of items on the current page."},"total_count":{"type":"number","example":1,"description":"Total number of items."}},"required":["count","total_count"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/components":{"post":{"tags":["Status Page Components"],"description":"Create a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Website","description":"a name for the component"},"status":{"type":"string","enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"default":"OPERATIONAL","example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."}},"required":["name"]}}}},"responses":{"200":{"description":"Returns the newly created status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"},"name":{"type":"string","example":"Website","description":"a name for the component"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the component was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the component was last updated"},"group_id":{"type":"string","example":"a1b2c3d4","description":"Status Page Group ID"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at","group_id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"get":{"tags":["Status Page Components"],"description":"List all components","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","default":"1","example":1,"description":"Page number of paginated results."},"required":false,"description":"Page number of paginated results.","name":"page","in":"query"},{"schema":{"type":"string","default":"20","example":20,"description":"Number of items per page."},"required":false,"description":"Number of items per page.","name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of components for a status page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"},"name":{"type":"string","example":"Website","description":"a name for the component"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the component was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the component was last updated"},"group_id":{"type":"string","example":"a1b2c3d4","description":"Status Page Group ID"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at","group_id"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"example":1,"description":"Page number of paginated results."},"per_page":{"type":"number","default":20,"example":20,"description":"Number of items per page."},"count":{"type":"number","example":1,"description":"Number of items on the current page."},"total_count":{"type":"number","example":1,"description":"Total number of items."}},"required":["count","total_count"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/components/{status_page_component_id}":{"get":{"tags":["Status Page Components"],"description":"Retrieve a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Component ID"},"required":true,"description":"Status Page Component ID","name":"status_page_component_id","in":"path"}],"responses":{"200":{"description":"Returns a status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"},"name":{"type":"string","example":"Website","description":"a name for the component"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the component was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the component was last updated"},"group_id":{"type":"string","example":"a1b2c3d4","description":"Status Page Group ID"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at","group_id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Status Page Components"],"description":"Update a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Component ID"},"required":true,"description":"Status Page Component ID","name":"status_page_component_id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Website","description":"a name for the component"},"status":{"type":"string","enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"default":"OPERATIONAL","example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."}},"required":["name"]}}}},"responses":{"200":{"description":"Returns the updated status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"},"name":{"type":"string","example":"Website","description":"a name for the component"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the component was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the component was last updated"},"group_id":{"type":"string","example":"a1b2c3d4","description":"Status Page Group ID"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at","group_id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Status Page Components"],"description":"Delete a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Component ID"},"required":true,"description":"Status Page Component ID","name":"status_page_component_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted component's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"}},"required":["id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/incidents":{"post":{"tags":["Status Page Incidents"],"description":"Create an incident","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"description":{"type":"string","example":"We are currently investigating the issue","description":"a description of the incident"},"status":{"type":"string","enum":["INVESTIGATING","IDENTIFIED","MONITORING","RESOLVED","UPDATE"],"example":"INVESTIGATING","description":"The current status of the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"components":{"type":"object","additionalProperties":{"type":"string","enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident on the component"}}},"required":["title","description","status","impact","components"]}}}},"responses":{"200":{"description":"Returns the newly created status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"}},"required":["id","title","impact","started","created_at","updated_at"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"get":{"tags":["Status Page Incidents"],"description":"List all incidents","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","default":"1","example":1,"description":"Page number of paginated results."},"required":false,"description":"Page number of paginated results.","name":"page","in":"query"},{"schema":{"type":"string","default":"20","example":20,"description":"Number of items per page."},"required":false,"description":"Number of items per page.","name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of incidents for a status page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"}},"required":["id","title","impact","started","created_at","updated_at"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"example":1,"description":"Page number of paginated results."},"per_page":{"type":"number","default":20,"example":20,"description":"Number of items per page."},"count":{"type":"number","example":1,"description":"Number of items on the current page."},"total_count":{"type":"number","example":1,"description":"Total number of items."}},"required":["count","total_count"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/incidents/{status_page_incident_id}":{"get":{"tags":["Status Page Incidents"],"description":"Retrieve an incident","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Incident ID"},"required":true,"description":"Status Page Incident ID","name":"status_page_incident_id","in":"path"}],"responses":{"200":{"description":"Returns a status page incident","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"}},"required":["id","title","impact","started","created_at","updated_at"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Status Page Incidents"],"description":"Update an incident","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Incident ID"},"required":true,"description":"Status Page Incident ID","name":"status_page_incident_id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"components":{"type":"object","additionalProperties":{"type":"string","enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident on the component"}}},"required":["title","impact","components"]}}}},"responses":{"200":{"description":"Returns the updated status page incident","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"}},"required":["id","title","impact","started","created_at","updated_at"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Status Page Incidents"],"description":"Delete an incident","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Incident ID"},"required":true,"description":"Status Page Incident ID","name":"status_page_incident_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted incident's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"}},"required":["id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/heartbeats":{"get":{"tags":["Heartbeats"],"description":"List all heartbeats","summary":"Retrieve a paginated list of all heartbeat monitors","operationId":"listHeartbeats","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","default":"1","example":1,"description":"Page number of paginated results."},"required":false,"description":"Page number of paginated results.","name":"page","in":"query"},{"schema":{"type":"string","default":"20","example":20,"description":"Number of items per page."},"required":false,"description":"Number of items per page.","name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of OnlineOrNot Heartbeats","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Heartbeat ID"},"name":{"type":"string","example":"Daily backup job","description":"Name of the heartbeat monitor"},"status":{"type":["string","null"],"enum":["UP","DOWN","PENDING","PAUSED","MUTED"],"example":"UP","description":"Current status of the heartbeat"},"last_seen":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"Last time a heartbeat ping was received"},"report_period":{"type":["number","null"],"example":3600,"description":"Expected interval in seconds between heartbeat pings"},"report_period_cron":{"type":["string","null"],"example":"0 0 * * *","description":"Cron expression for expected heartbeat schedule"},"timezone":{"type":["string","null"],"example":"America/New_York","description":"Timezone for cron schedule"},"grace_period":{"type":"number","example":300,"description":"Grace period in seconds before alerting"},"reminder_alert_interval_minutes":{"type":"number","example":1440,"description":"Interval in minutes between reminder alerts"},"alert_priority":{"type":"string","enum":["LOW","HIGH"],"example":"LOW","description":"Alert priority level"},"created_at":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"When the heartbeat was created"},"updated_at":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"When the heartbeat was last updated"}},"required":["id","name","status","last_seen","report_period","report_period_cron","timezone","grace_period","reminder_alert_interval_minutes","alert_priority","created_at","updated_at"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"example":1,"description":"Page number of paginated results."},"per_page":{"type":"number","default":20,"example":20,"description":"Number of items per page."},"count":{"type":"number","example":1,"description":"Number of items on the current page."},"total_count":{"type":"number","example":1,"description":"Total number of items."}},"required":["count","total_count"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Heartbeats"],"description":"Create a heartbeat","summary":"Create a new heartbeat monitor for cron jobs or scheduled tasks","operationId":"createHeartbeat","security":[{"api_token":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"Daily backup job","description":"Name of the heartbeat monitor"},"report_period":{"type":"integer","minimum":1,"example":3600,"description":"Expected interval in seconds between heartbeat pings (for simple schedule)"},"report_period_cron":{"type":"string","example":"0 0 * * *","description":"Cron expression for expected heartbeat schedule"},"timezone":{"type":"string","example":"America/New_York","description":"Timezone for cron schedule"},"grace_period":{"type":"integer","minimum":1,"example":300,"description":"Grace period in seconds to wait after missed heartbeat before alerting"},"reminder_alert_interval_minutes":{"type":"integer","minimum":-1,"default":1440,"example":1440,"description":"Interval in minutes between reminder alerts (-1 for never)"},"user_alerts":{"type":"array","items":{"type":"string"},"description":"Array of user IDs to alert"},"slack_alerts":{"type":"array","items":{"type":"string"},"description":"Array of Slack integration IDs to alert"},"webhook_alerts":{"type":"array","items":{"type":"string"},"description":"Array of webhook integration IDs to alert"},"incident_io_alerts":{"type":"array","items":{"type":"string"},"description":"Array of incident.io integration IDs to alert"},"microsoft_teams_alerts":{"type":"array","items":{"type":"string"},"description":"Array of Microsoft Teams integration IDs to alert"},"alert_priority":{"type":"string","enum":["LOW","HIGH"],"default":"LOW","example":"LOW","description":"Alert priority level"}},"required":["name","grace_period"]},"examples":{"simple":{"summary":"Simple interval heartbeat","value":{"name":"Daily backup job","report_period":86400,"grace_period":300}},"cron":{"summary":"Cron-based heartbeat","value":{"name":"Hourly sync task","report_period_cron":"0 * * * *","timezone":"America/New_York","grace_period":600,"alert_priority":"HIGH"}}}}}},"responses":{"200":{"description":"Create a new OnlineOrNot Heartbeat","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Heartbeat ID"},"name":{"type":"string","example":"Daily backup job","description":"Name of the heartbeat monitor"},"status":{"type":["string","null"],"enum":["UP","DOWN","PENDING","PAUSED","MUTED"],"example":"UP","description":"Current status of the heartbeat"},"last_seen":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"Last time a heartbeat ping was received"},"report_period":{"type":["number","null"],"example":3600,"description":"Expected interval in seconds between heartbeat pings"},"report_period_cron":{"type":["string","null"],"example":"0 0 * * *","description":"Cron expression for expected heartbeat schedule"},"timezone":{"type":["string","null"],"example":"America/New_York","description":"Timezone for cron schedule"},"grace_period":{"type":"number","example":300,"description":"Grace period in seconds before alerting"},"reminder_alert_interval_minutes":{"type":"number","example":1440,"description":"Interval in minutes between reminder alerts"},"alert_priority":{"type":"string","enum":["LOW","HIGH"],"example":"LOW","description":"Alert priority level"},"created_at":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"When the heartbeat was created"},"updated_at":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"When the heartbeat was last updated"},"user_alerts":{"type":"array","items":{"type":"string"},"description":"Array of user IDs subscribed to alerts"},"slack_alerts":{"type":"array","items":{"type":"string"},"description":"Array of Slack integration IDs subscribed to alerts"},"webhook_alerts":{"type":"array","items":{"type":"string"},"description":"Array of webhook integration IDs subscribed to alerts"},"incident_io_alerts":{"type":"array","items":{"type":"string"},"description":"Array of incident.io integration IDs subscribed to alerts"},"microsoft_teams_alerts":{"type":"array","items":{"type":"string"},"description":"Array of Microsoft Teams integration IDs subscribed to alerts"}},"required":["id","name","status","last_seen","report_period","report_period_cron","timezone","grace_period","reminder_alert_interval_minutes","alert_priority","created_at","updated_at","user_alerts","slack_alerts","webhook_alerts","incident_io_alerts","microsoft_teams_alerts"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/heartbeats/{heartbeat_id}":{"get":{"tags":["Heartbeats"],"description":"Retrieve a heartbeat","summary":"Look up detailed information about a specific heartbeat monitor","operationId":"getHeartbeat","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Heartbeat ID"},"required":true,"description":"Heartbeat ID","name":"heartbeat_id","in":"path"}],"responses":{"200":{"description":"Retrieve the specified OnlineOrNot Heartbeat","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Heartbeat ID"},"name":{"type":"string","example":"Daily backup job","description":"Name of the heartbeat monitor"},"status":{"type":["string","null"],"enum":["UP","DOWN","PENDING","PAUSED","MUTED"],"example":"UP","description":"Current status of the heartbeat"},"last_seen":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"Last time a heartbeat ping was received"},"report_period":{"type":["number","null"],"example":3600,"description":"Expected interval in seconds between heartbeat pings"},"report_period_cron":{"type":["string","null"],"example":"0 0 * * *","description":"Cron expression for expected heartbeat schedule"},"timezone":{"type":["string","null"],"example":"America/New_York","description":"Timezone for cron schedule"},"grace_period":{"type":"number","example":300,"description":"Grace period in seconds before alerting"},"reminder_alert_interval_minutes":{"type":"number","example":1440,"description":"Interval in minutes between reminder alerts"},"alert_priority":{"type":"string","enum":["LOW","HIGH"],"example":"LOW","description":"Alert priority level"},"created_at":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"When the heartbeat was created"},"updated_at":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"When the heartbeat was last updated"},"user_alerts":{"type":"array","items":{"type":"string"},"description":"Array of user IDs subscribed to alerts"},"slack_alerts":{"type":"array","items":{"type":"string"},"description":"Array of Slack integration IDs subscribed to alerts"},"webhook_alerts":{"type":"array","items":{"type":"string"},"description":"Array of webhook integration IDs subscribed to alerts"},"incident_io_alerts":{"type":"array","items":{"type":"string"},"description":"Array of incident.io integration IDs subscribed to alerts"},"microsoft_teams_alerts":{"type":"array","items":{"type":"string"},"description":"Array of Microsoft Teams integration IDs subscribed to alerts"}},"required":["id","name","status","last_seen","report_period","report_period_cron","timezone","grace_period","reminder_alert_interval_minutes","alert_priority","created_at","updated_at","user_alerts","slack_alerts","webhook_alerts","incident_io_alerts","microsoft_teams_alerts"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"patch":{"tags":["Heartbeats"],"description":"Modify a heartbeat","summary":"Modify the configuration of an existing heartbeat monitor","operationId":"updateHeartbeat","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Heartbeat ID"},"required":true,"description":"Heartbeat ID","name":"heartbeat_id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"Daily backup job","description":"Name of the heartbeat monitor"},"report_period":{"type":["integer","null"],"minimum":1,"example":3600,"description":"Expected interval in seconds between heartbeat pings (for simple schedule)"},"report_period_cron":{"type":["string","null"],"example":"0 0 * * *","description":"Cron expression for expected heartbeat schedule"},"timezone":{"type":["string","null"],"example":"America/New_York","description":"Timezone for cron schedule"},"grace_period":{"type":"integer","minimum":1,"example":300,"description":"Grace period in seconds to wait after missed heartbeat before alerting"},"reminder_alert_interval_minutes":{"type":"integer","minimum":-1,"example":1440,"description":"Interval in minutes between reminder alerts (-1 for never)"},"user_alerts":{"type":"array","items":{"type":"string"},"description":"Array of user IDs to alert"},"slack_alerts":{"type":"array","items":{"type":"string"},"description":"Array of Slack integration IDs to alert"},"webhook_alerts":{"type":"array","items":{"type":"string"},"description":"Array of webhook integration IDs to alert"},"incident_io_alerts":{"type":"array","items":{"type":"string"},"description":"Array of incident.io integration IDs to alert"},"microsoft_teams_alerts":{"type":"array","items":{"type":"string"},"description":"Array of Microsoft Teams integration IDs to alert"},"alert_priority":{"type":"string","enum":["LOW","HIGH"],"example":"LOW","description":"Alert priority level"},"paused":{"type":"boolean","example":false,"description":"Whether the heartbeat is paused"},"muted":{"type":"boolean","example":false,"description":"Whether the heartbeat is muted (continues monitoring but suppresses alerts)"}}},"examples":{"updateSchedule":{"summary":"Update heartbeat schedule","value":{"report_period":7200,"grace_period":600}},"pause":{"summary":"Pause heartbeat monitoring","value":{"paused":true}},"mute":{"summary":"Mute heartbeat alerts","value":{"muted":true}}}}}},"responses":{"200":{"description":"Modify an OnlineOrNot Heartbeat","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Heartbeat ID"},"name":{"type":"string","example":"Daily backup job","description":"Name of the heartbeat monitor"},"status":{"type":["string","null"],"enum":["UP","DOWN","PENDING","PAUSED","MUTED"],"example":"UP","description":"Current status of the heartbeat"},"last_seen":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"Last time a heartbeat ping was received"},"report_period":{"type":["number","null"],"example":3600,"description":"Expected interval in seconds between heartbeat pings"},"report_period_cron":{"type":["string","null"],"example":"0 0 * * *","description":"Cron expression for expected heartbeat schedule"},"timezone":{"type":["string","null"],"example":"America/New_York","description":"Timezone for cron schedule"},"grace_period":{"type":"number","example":300,"description":"Grace period in seconds before alerting"},"reminder_alert_interval_minutes":{"type":"number","example":1440,"description":"Interval in minutes between reminder alerts"},"alert_priority":{"type":"string","enum":["LOW","HIGH"],"example":"LOW","description":"Alert priority level"},"created_at":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"When the heartbeat was created"},"updated_at":{"type":["string","null"],"example":"2021-01-01T00:00:00.000Z","description":"When the heartbeat was last updated"},"user_alerts":{"type":"array","items":{"type":"string"},"description":"Array of user IDs subscribed to alerts"},"slack_alerts":{"type":"array","items":{"type":"string"},"description":"Array of Slack integration IDs subscribed to alerts"},"webhook_alerts":{"type":"array","items":{"type":"string"},"description":"Array of webhook integration IDs subscribed to alerts"},"incident_io_alerts":{"type":"array","items":{"type":"string"},"description":"Array of incident.io integration IDs subscribed to alerts"},"microsoft_teams_alerts":{"type":"array","items":{"type":"string"},"description":"Array of Microsoft Teams integration IDs subscribed to alerts"}},"required":["id","name","status","last_seen","report_period","report_period_cron","timezone","grace_period","reminder_alert_interval_minutes","alert_priority","created_at","updated_at","user_alerts","slack_alerts","webhook_alerts","incident_io_alerts","microsoft_teams_alerts"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Heartbeats"],"description":"Delete a heartbeat","summary":"Permanently delete a heartbeat monitor","operationId":"deleteHeartbeat","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Heartbeat ID"},"required":true,"description":"Heartbeat ID","name":"heartbeat_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted OnlineOrNot Heartbeat's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Heartbeat ID"}},"required":["id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/maintenance-windows":{"get":{"tags":["Maintenance Windows"],"description":"List all maintenance windows","summary":"Retrieve a paginated list of all maintenance windows","operationId":"listMaintenanceWindows","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","default":"1","example":1,"description":"Page number of paginated results."},"required":false,"description":"Page number of paginated results.","name":"page","in":"query"},{"schema":{"type":"string","default":"20","example":20,"description":"Number of items per page."},"required":false,"description":"Number of items per page.","name":"per_page","in":"query"},{"schema":{"type":"string","example":"weekly","description":"Search term to filter maintenance windows by name"},"required":false,"description":"Search term to filter maintenance windows by name","name":"search","in":"query"}],"responses":{"200":{"description":"Returns a list of maintenance windows","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"abc123def456","description":"Maintenance Window ID"},"name":{"type":"string","example":"Weekly Maintenance","description":"Name of the maintenance window"},"start_date":{"type":"string","example":"09:00","description":"Start time of the maintenance window (HH:MM format)"},"duration_minutes":{"type":"number","example":60,"description":"Duration of the maintenance window in minutes"},"timezone":{"type":"string","example":"America/New_York","description":"Timezone for the maintenance window"},"days_of_week":{"type":"array","items":{"type":"string","enum":["SUNDAY","MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY"]},"example":["MONDAY","WEDNESDAY","FRIDAY"],"description":"Days of the week when the maintenance window is active"},"status":{"type":"string","enum":["ENABLED","DISABLED"],"example":"ENABLED","description":"Whether the maintenance window is enabled or disabled"}},"required":["id","name","start_date","duration_minutes","timezone","days_of_week","status"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"example":1,"description":"Page number of paginated results."},"per_page":{"type":"number","default":20,"example":20,"description":"Number of items per page."},"count":{"type":"number","example":1,"description":"Number of items on the current page."},"total_count":{"type":"number","example":1,"description":"Total number of items."}},"required":["count","total_count"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"401":{"description":"Unauthorized - Invalid or missing API token"},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Maintenance Windows"],"summary":"Create a new maintenance window with associated checks and heartbeats","description":"Create a new maintenance window","operationId":"createMaintenanceWindow","security":[{"api_token":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Weekly Maintenance","description":"Name of the maintenance window"},"start_date":{"type":"string","example":"09:00","description":"Start time of the maintenance window (HH:MM format)"},"duration_minutes":{"type":"integer","exclusiveMinimum":0,"example":60,"description":"Duration of the maintenance window in minutes"},"timezone":{"type":"string","example":"America/New_York","description":"Timezone for the maintenance window"},"days_of_week":{"type":"array","items":{"type":"string","enum":["SUNDAY","MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY"]},"minItems":1,"example":["MONDAY","WEDNESDAY","FRIDAY"],"description":"Days of the week when the maintenance window is active"},"checks":{"type":"array","items":{"type":"string"},"default":[],"example":["abc123","def456"],"description":"Array of uptime check IDs to associate with this maintenance window"},"heartbeats":{"type":"array","items":{"type":"string"},"default":[],"example":["ghi789"],"description":"Array of heartbeat IDs to associate with this maintenance window"}},"required":["name","start_date","duration_minutes","timezone","days_of_week"]},"examples":{"simple":{"summary":"Weekly maintenance window","value":{"name":"Weekly Server Maintenance","start_date":"03:00","duration_minutes":60,"timezone":"America/New_York","days_of_week":["SUNDAY"]}},"withAssociations":{"summary":"With checks and heartbeats","value":{"name":"Database Maintenance","start_date":"02:00","duration_minutes":120,"timezone":"UTC","days_of_week":["SATURDAY","SUNDAY"],"checks":["abc123","def456"],"heartbeats":["ghi789"]}}}}}},"responses":{"200":{"description":"Returns the created maintenance window","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"abc123def456","description":"Maintenance Window ID"},"name":{"type":"string","example":"Weekly Maintenance","description":"Name of the maintenance window"},"start_date":{"type":"string","example":"09:00","description":"Start time of the maintenance window (HH:MM format)"},"duration_minutes":{"type":"number","example":60,"description":"Duration of the maintenance window in minutes"},"timezone":{"type":"string","example":"America/New_York","description":"Timezone for the maintenance window"},"days_of_week":{"type":"array","items":{"type":"string","enum":["SUNDAY","MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY"]},"example":["MONDAY","WEDNESDAY","FRIDAY"],"description":"Days of the week when the maintenance window is active"},"status":{"type":"string","enum":["ENABLED","DISABLED"],"example":"ENABLED","description":"Whether the maintenance window is enabled or disabled"},"checks":{"type":"array","items":{"type":"string"},"example":["abc123","def456"],"description":"IDs of uptime checks associated with this maintenance window"},"heartbeats":{"type":"array","items":{"type":"string"},"example":["ghi789"],"description":"IDs of heartbeats associated with this maintenance window"}},"required":["id","name","start_date","duration_minutes","timezone","days_of_week","status","checks","heartbeats"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"400":{"description":"Bad Request - Invalid input (e.g., invalid check/heartbeat IDs, empty name)"},"401":{"description":"Unauthorized - Invalid or missing API token"},"500":{"description":"Internal Server Error"}}}},"/v1/maintenance-windows/{maintenance_window_id}":{"get":{"tags":["Maintenance Windows"],"description":"Get a maintenance window by ID","summary":"Retrieve a maintenance window with associated checks and heartbeats","operationId":"getMaintenanceWindow","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"abc123def456","description":"Maintenance Window ID"},"required":true,"description":"Maintenance Window ID","name":"maintenance_window_id","in":"path"}],"responses":{"200":{"description":"Returns a maintenance window with associated check and heartbeat IDs","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"abc123def456","description":"Maintenance Window ID"},"name":{"type":"string","example":"Weekly Maintenance","description":"Name of the maintenance window"},"start_date":{"type":"string","example":"09:00","description":"Start time of the maintenance window (HH:MM format)"},"duration_minutes":{"type":"number","example":60,"description":"Duration of the maintenance window in minutes"},"timezone":{"type":"string","example":"America/New_York","description":"Timezone for the maintenance window"},"days_of_week":{"type":"array","items":{"type":"string","enum":["SUNDAY","MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY"]},"example":["MONDAY","WEDNESDAY","FRIDAY"],"description":"Days of the week when the maintenance window is active"},"status":{"type":"string","enum":["ENABLED","DISABLED"],"example":"ENABLED","description":"Whether the maintenance
[...]
