{"openapi":"3.1.0","info":{"title":"OnlineOrNot API","description":"Interact with OnlineOrNot programmatically via the OnlineOrNot API.\n\nUsing the OnlineOrNot API requires authentication so that OnlineOrNot knows who is making requests and what permissions you have. Create an API token to grant access to the API to perform actions.\n\nTo create an API token, from the OnlineOrNot dashboard, go to Settings > Developers and select Create Token. \n\nTotally new to OnlineOrNot? [Start here](https://onlineornot.com/docs/welcome/).","license":{"name":"BSD-3-Clause","url":"https://opensource.org/licenses/BSD-3-Clause"},"version":"1.0.0"},"servers":[{"url":"https://api.onlineornot.com","description":"Client API"}],"components":{"securitySchemes":{"api_token":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{},"parameters":{}},"paths":{"/v1/tokens/verify":{"get":{"tags":["Tokens"],"security":[{"api_token":[]}],"description":"Verify a token","responses":{"200":{"description":"Returns that the given API token is valid","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Token ID"},"status":{"type":"string","example":"active","description":"Status"}},"required":["id","status"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"401":{"description":"Returns an error message if the token is invalid","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"null"},"success":{"type":"boolean","default":false,"example":false,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number","example":10001,"description":"Error code"},"message":{"type":"string","example":"This API Token is invalid","description":"A message to describe the error"}},"required":["code","message"]}},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/tokens/permissions":{"get":{"tags":["Tokens"],"security":[{"api_token":[]}],"description":"Retrieve a token's permissions","responses":{"200":{"description":"Returns the permissions of a given API token","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"permissions":{"type":"array","items":{"type":"string","example":"uptime_checks (read)","description":"One of the token's permissions"}}},"required":["permissions"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/checks":{"get":{"tags":["Checks"],"description":"List all checks","summary":"Retrieve a paginated list of all uptime checks","operationId":"listChecks","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","default":"1","example":1,"description":"Page number of paginated results."},"required":false,"description":"Page number of paginated results.","name":"page","in":"query"},{"schema":{"type":"string","default":"20","example":20,"description":"Number of items per page."},"required":false,"description":"Number of items per page.","name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of OnlineOrNot Checks","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Uptime Check ID"},"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"status":{"type":["string","null"],"enum":["UP","DOWN","PENDING","PAUSED","MUTED","MAINTENANCE","RECOVERING","VERIFYING"],"example":"UP","description":"Current status of the check based on the latest uptime event"},"last_queued":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"Last time the check was queued"},"headers":{"type":"object","additionalProperties":{"type":"string","example":"My Value","description":"Header value"},"example":{"X-My-Header":"My Value"},"description":"Headers to send with the request"}},"required":["id","name","url","status","last_queued"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"example":1,"description":"Page number of paginated results."},"per_page":{"type":"number","default":20,"example":20,"description":"Number of items per page."},"count":{"type":"number","example":1,"description":"Number of items on the current page."},"total_count":{"type":"number","example":1,"description":"Total number of items."}},"required":["count","total_count"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Checks"],"description":"Create a check","summary":"Create a new uptime check to monitor a URL","operationId":"createCheck","security":[{"api_token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"text_to_search_for":{"type":"string","example":"Example Domain","description":"Text to search for in the response"},"test_interval":{"type":"integer","minimum":30,"example":60,"description":"Interval in seconds between checks"},"number_of_fails_before_alert":{"type":"integer","minimum":1,"default":2,"example":2,"description":"Number of failing checks before an alert is sent"},"type":{"type":"string","enum":["UPTIME_CHECK","BROWSER_CHECK"],"default":"UPTIME_CHECK","example":"UPTIME_CHECK","description":"Type of check"},"alert_priority":{"type":"string","enum":["LOW","HIGH"],"default":"LOW","example":"LOW","description":"Alert Priority"},"headers":{"type":"object","additionalProperties":{"type":"string","example":"My Value","description":"Header value"},"example":{"X-My-Header":"My Value"},"description":"Headers to send with the request"},"method":{"type":"string","enum":["GET","HEAD","POST","PUT","PATCH","DELETE"],"default":"GET","example":"GET","description":"HTTP Method"},"body":{"type":"string","example":"Hello World"},"follow_redirects":{"type":"boolean","default":true,"example":true,"description":"Whether to follow redirects"},"assertions":{"type":"object","additionalProperties":{"type":"string"}},"verify_ssl":{"type":"boolean","default":false,"example":false,"description":"Whether to fail a check if SSL verification fails"},"auth_username":{"type":"string","example":"username","description":"Username to use for URLs behind HTTP Basic Auth"},"auth_password":{"type":"string","example":"password","description":"Password to use for URLs behind HTTP Basic Auth"}},"required":["name","url"]},"examples":{"basic":{"summary":"Basic uptime check","value":{"name":"My Website Check","url":"https://example.com","test_interval":60}},"advanced":{"summary":"Advanced check with headers","value":{"name":"API Check with Auth","url":"https://api.example.com","headers":{"Authorization":"Bearer token"},"test_interval":30,"alert_priority":"HIGH"}}}}}},"responses":{"200":{"description":"Create a new OnlineOrNot Check","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Uptime Check ID"},"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"status":{"type":["string","null"],"enum":["UP","DOWN","PENDING","PAUSED","MUTED","MAINTENANCE","RECOVERING","VERIFYING"],"example":"UP","description":"Current status of the check based on the latest uptime event"},"last_queued":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"Last time the check was queued"},"headers":{"type":"object","additionalProperties":{"type":"string","example":"My Value","description":"Header value"},"example":{"X-My-Header":"My Value"},"description":"Headers to send with the request"}},"required":["id","name","url","status","last_queued"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/checks/{check_id}":{"get":{"tags":["Checks"],"description":"Retrieve a check","summary":"Look up detailed information about a specific uptime check","operationId":"getCheck","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Uptime Check ID"},"required":true,"description":"Uptime Check ID","name":"check_id","in":"path"}],"responses":{"200":{"description":"Retrieve the specified OnlineOrNot Check","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Uptime Check ID"},"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"status":{"type":["string","null"],"enum":["UP","DOWN","PENDING","PAUSED","MUTED","MAINTENANCE","RECOVERING","VERIFYING"],"example":"UP","description":"Current status of the check based on the latest uptime event"},"last_queued":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"Last time the check was queued"},"headers":{"type":"object","additionalProperties":{"type":"string","example":"My Value","description":"Header value"},"example":{"X-My-Header":"My Value"},"description":"Headers to send with the request"}},"required":["id","name","url","status","last_queued"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Checks"],"description":"Delete a check","summary":"Permanently delete an uptime check","operationId":"deleteCheck","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Uptime Check ID"},"required":true,"description":"Uptime Check ID","name":"check_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted OnlineOrNot Check's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Uptime Check ID"}},"required":["id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"patch":{"tags":["Checks"],"description":"Modify a check","summary":"Modify the configuration of an existing uptime check","operationId":"updateCheck","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Uptime Check ID"},"required":true,"description":"Uptime Check ID","name":"check_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"headers":{"type":"object","additionalProperties":{"type":["string","null"],"example":"My Value","description":"Header value. Set to null to remove the header."},"example":{"X-My-Header":"My Value"},"description":"Headers to send with the request"},"paused":{"type":"boolean","example":false,"description":"Whether the check is paused (completely stops execution) or actively running"},"muted":{"type":"boolean","example":false,"description":"Whether the check is muted (continues running but suppresses alerts) or sending alerts normally"}}},"examples":{"updateHeaders":{"summary":"Update check headers","value":{"muted":true,"headers":{"X-Custom-Header":"new-value","My-Unused-Header":null}}}}}}},"responses":{"200":{"description":"Modify an OnlineOrNot Check","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Uptime Check ID"},"name":{"type":"string","example":"My landing page","description":"Name of the check"},"url":{"type":"string","format":"uri","example":"https://example.com","description":"URL to check"},"status":{"type":["string","null"],"enum":["UP","DOWN","PENDING","PAUSED","MUTED","MAINTENANCE","RECOVERING","VERIFYING"],"example":"UP","description":"Current status of the check based on the latest uptime event"},"last_queued":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"Last time the check was queued"},"headers":{"type":"object","additionalProperties":{"type":"string","example":"My Value","description":"Header value"},"example":{"X-My-Header":"My Value"},"description":"Headers to send with the request"}},"required":["id","name","url","status","last_queued"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}":{"get":{"tags":["Status Pages"],"description":"Retrieve a status page","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"}],"responses":{"200":{"description":"Retrieve the specified OnlineOrNot Status Page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"},"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\""},"custom_domain":{"type":"string","format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\""}},"required":["id","name","subdomain"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Status Pages"],"description":"Update a status page","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.onlineornot.com\""},"custom_domain":{"type":"string","format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at."},"password":{"type":"string","description":"The password that will be required to view your status page"}},"required":["name","subdomain"]}}}},"responses":{"200":{"description":"Update an existing OnlineOrNot Status Page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"},"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\""},"custom_domain":{"type":"string","format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\""}},"required":["id","name","subdomain"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Status Pages"],"description":"Delete a status page","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted OnlineOrNot Check's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"}},"required":["id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_subdomain}/summary":{"get":{"tags":["Status Pages"],"description":"Get a status page's summary of its overall status, components, active incidents, and scheduled maintenance.","parameters":[{"schema":{"type":"string","minLength":1,"example":"hackernews","description":"The subdomain part of a status page's URL"},"required":true,"description":"The subdomain part of a status page's URL","name":"status_page_subdomain","in":"path"}],"responses":{"200":{"description":"Retrieve the specified OnlineOrNot status page summary","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"status":{"type":"object","properties":{"description":{"type":"string","enum":["Major System Outage","Minor Service Outage","Partially Degraded Service","Service Under Maintenance","All Systems Operational"],"example":"All Systems Operational","description":"The overall system's current status"}},"required":["description"]},"status_page":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"},"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\""},"custom_domain":{"type":"string","format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\""}},"required":["id","name","subdomain"]},"components":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"},"name":{"type":"string","example":"Website","description":"a name for the component"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the component was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the component was last updated"},"group_id":{"type":"string","example":"a1b2c3d4","description":"Status Page Group ID"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at","group_id"]}},"active_incidents":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"}},"required":["id","title","impact","started","created_at","updated_at"]}},"scheduled_maintenance":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"},"start_date":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the scheduled maintenance is expected to start"},"duration_minutes":{"type":"integer","minimum":1,"example":60,"description":"How long (in minutes) the scheduled maintenance should be displayed on your status page before being resolved automatically"}},"required":["id","title","impact","started","created_at","updated_at","start_date","duration_minutes"]}}},"required":["status","status_page","components","active_incidents","scheduled_maintenance"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"404":{"description":"Not found"},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages":{"post":{"tags":["Status Pages"],"description":"Create a status page","security":[{"api_token":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.onlineornot.com\""},"custom_domain":{"type":"string","format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at."},"password":{"type":"string","description":"The password that will be required to view your status page"}},"required":["name","subdomain"]}}}},"responses":{"200":{"description":"Create a new OnlineOrNot Status Page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"},"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\""},"custom_domain":{"type":"string","format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\""}},"required":["id","name","subdomain"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"get":{"tags":["Status Pages"],"description":"List all status pages","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","default":"1","example":1,"description":"Page number of paginated results."},"required":false,"description":"Page number of paginated results.","name":"page","in":"query"},{"schema":{"type":"string","default":"20","example":20,"description":"Number of items per page."},"required":false,"description":"Number of items per page.","name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of OnlineOrNot Status Pages","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page ID"},"name":{"type":"string","example":"My Example SaaS","description":"Name of the Status Page"},"subdomain":{"type":"string","pattern":"^\\w(?:[\\w-]{0,61}\\w)?$","example":"status","description":"The subdomain your status page will be hosted at. For example \"status\" would become \"status.yourdomain.com\""},"custom_domain":{"type":"string","format":"uri","example":"https://status.yourdomain.com","description":"The custom domain your status page is hosted at. For example \"https://status.yourdomain.com\""}},"required":["id","name","subdomain"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"example":1,"description":"Page number of paginated results."},"per_page":{"type":"number","default":20,"example":20,"description":"Number of items per page."},"count":{"type":"number","example":1,"description":"Number of items on the current page."},"total_count":{"type":"number","example":1,"description":"Total number of items."}},"required":["count","total_count"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/components":{"post":{"tags":["Status Page Components"],"description":"Create a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Website","description":"a name for the component"},"status":{"type":"string","enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"default":"OPERATIONAL","example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."}},"required":["name"]}}}},"responses":{"200":{"description":"Returns the newly created status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"},"name":{"type":"string","example":"Website","description":"a name for the component"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the component was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the component was last updated"},"group_id":{"type":"string","example":"a1b2c3d4","description":"Status Page Group ID"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at","group_id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"get":{"tags":["Status Page Components"],"description":"List all components","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","default":"1","example":1,"description":"Page number of paginated results."},"required":false,"description":"Page number of paginated results.","name":"page","in":"query"},{"schema":{"type":"string","default":"20","example":20,"description":"Number of items per page."},"required":false,"description":"Number of items per page.","name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of components for a status page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"},"name":{"type":"string","example":"Website","description":"a name for the component"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the component was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the component was last updated"},"group_id":{"type":"string","example":"a1b2c3d4","description":"Status Page Group ID"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at","group_id"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"example":1,"description":"Page number of paginated results."},"per_page":{"type":"number","default":20,"example":20,"description":"Number of items per page."},"count":{"type":"number","example":1,"description":"Number of items on the current page."},"total_count":{"type":"number","example":1,"description":"Total number of items."}},"required":["count","total_count"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/components/{status_page_component_id}":{"get":{"tags":["Status Page Components"],"description":"Retrieve a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Component ID"},"required":true,"description":"Status Page Component ID","name":"status_page_component_id","in":"path"}],"responses":{"200":{"description":"Returns a status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"},"name":{"type":"string","example":"Website","description":"a name for the component"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the component was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the component was last updated"},"group_id":{"type":"string","example":"a1b2c3d4","description":"Status Page Group ID"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at","group_id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Status Page Components"],"description":"Update a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Component ID"},"required":true,"description":"Status Page Component ID","name":"status_page_component_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"Website","description":"a name for the component"},"status":{"type":"string","enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"default":"OPERATIONAL","example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."}},"required":["name"]}}}},"responses":{"200":{"description":"Returns the updated status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"},"name":{"type":"string","example":"Website","description":"a name for the component"},"status":{"type":["string","null"],"enum":["OPERATIONAL","MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Status of the component"},"display_uptime":{"type":"boolean","default":true,"example":true,"description":"Show this component's uptime and historical incidents on the status page."},"display_metrics":{"type":"boolean","default":true,"example":true,"description":"Show this component's response time metrics on the status page."},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the component was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the component was last updated"},"group_id":{"type":"string","example":"a1b2c3d4","description":"Status Page Group ID"}},"required":["id","name","status","display_uptime","display_metrics","created_at","updated_at","group_id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Status Page Components"],"description":"Delete a component","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Component ID"},"required":true,"description":"Status Page Component ID","name":"status_page_component_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted component's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Component ID"}},"required":["id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/incidents":{"post":{"tags":["Status Page Incidents"],"description":"Create an incident","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"description":{"type":"string","example":"We are currently investigating the issue","description":"a description of the incident"},"status":{"type":"string","enum":["INVESTIGATING","IDENTIFIED","MONITORING","RESOLVED","UPDATE"],"example":"INVESTIGATING","description":"The current status of the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"components":{"type":"object","additionalProperties":{"type":"string","enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident on the component"}}},"required":["title","description","status","impact","components"]}}}},"responses":{"200":{"description":"Returns the newly created status page component","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"}},"required":["id","title","impact","started","created_at","updated_at"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"get":{"tags":["Status Page Incidents"],"description":"List all incidents","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","default":"1","example":1,"description":"Page number of paginated results."},"required":false,"description":"Page number of paginated results.","name":"page","in":"query"},{"schema":{"type":"string","default":"20","example":20,"description":"Number of items per page."},"required":false,"description":"Number of items per page.","name":"per_page","in":"query"}],"responses":{"200":{"description":"Returns a list of incidents for a status page","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"}},"required":["id","title","impact","started","created_at","updated_at"]}},"result_info":{"type":"object","properties":{"page":{"type":"number","default":1,"example":1,"description":"Page number of paginated results."},"per_page":{"type":"number","default":20,"example":20,"description":"Number of items per page."},"count":{"type":"number","example":1,"description":"Number of items on the current page."},"total_count":{"type":"number","example":1,"description":"Total number of items."}},"required":["count","total_count"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","result_info","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/status_pages/{status_page_id}/incidents/{status_page_incident_id}":{"get":{"tags":["Status Page Incidents"],"description":"Retrieve an incident","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Incident ID"},"required":true,"description":"Status Page Incident ID","name":"status_page_incident_id","in":"path"}],"responses":{"200":{"description":"Returns a status page incident","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"}},"required":["id","title","impact","started","created_at","updated_at"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Status Page Incidents"],"description":"Update an incident","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Incident ID"},"required":true,"description":"Status Page Incident ID","name":"status_page_incident_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"components":{"type":"object","additionalProperties":{"type":"string","enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident on the component"}}},"required":["title","impact","components"]}}}},"responses":{"200":{"description":"Returns the updated status page incident","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"},"title":{"type":"string","example":"API is inaccessible","description":"a title for the incident"},"impact":{"type":["string","null"],"enum":["MAJOR_OUTAGE","PARTIAL_OUTAGE","DEGRADED_PERFORMANCE","NO_IMPACT","MAINTENANCE"],"example":"MAJOR_OUTAGE","description":"Impact of the incident"},"started":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident started"},"ended":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was resolved"},"created_at":{"type":"string","example":"2021-01-01T00:00:00.000Z","description":"When the incident was created"},"updated_at":{"type":"string","example":"2021-02-01T00:00:00.000Z","description":"When the incident was last updated"}},"required":["id","title","impact","started","created_at","updated_at"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}},"delete":{"tags":["Status Page Incidents"],"description":"Delete an incident","security":[{"api_token":[]}],"parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page ID"},"required":true,"description":"Status Page ID","name":"status_page_id","in":"path"},{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Status Page Incident ID"},"required":true,"description":"Status Page Incident ID","name":"status_page_incident_id","in":"path"}],"responses":{"200":{"description":"Returns the deleted incident's ID","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"object","properties":{"id":{"type":"string","example":"a1b2c3d4","description":"Status Page Incident ID"}},"required":["id"]},"success":{"type":"boolean","default":true,"example":true,"description":"Whether the API call was successful"},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]},"messages":{"type":"array","items":{"type":"object","properties":{"code":{"type":"number"},"message":{"type":"string"},"type":{"type":"string"}},"required":["code","message"]},"example":[]}},"required":["result","success","errors","messages"]}}}},"500":{"description":"Internal Server Error"}}}},"/v1/heartbeat/{heartbeat_id}":{"get":{"tags":["Heartbeats"],"description":"Send a heartbeat","parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Heartbeat ID"},"required":true,"description":"Heartbeat ID","name":"heartbeat_id","in":"path"}],"responses":{"200":{"description":"Accepts an incoming heartbeat and returns nothing"},"500":{"description":"Internal Server Error"}}},"post":{"tags":["Heartbeats"],"description":"Send a heartbeat","parameters":[{"schema":{"type":"string","minLength":8,"example":"a1b2c3d4","description":"Heartbeat ID"},"required":true,"description":"Heartbeat ID","name":"heartbeat_id","in":"path"}],"responses":{"200":{"description":"Accepts an incoming heartbeat and returns nothing"},"500":{"description":"Internal Server Error"}}}}},"webhooks":{}}