openapi: 3.1.0
info:
  title: OnlineOrNot API
  description: "Interact with OnlineOrNot programmatically via the OnlineOrNot API.\n\nUsing the OnlineOrNot API requires authentication so that OnlineOrNot knows who is making requests and what permissions you have. Create an API token to grant access to the API to perform actions.\n\nTo create an API token, from the OnlineOrNot dashboard, go to Settings > Developers and select Create Token. \n\nTotally new to OnlineOrNot? [Start here](https://onlineornot.com/docs/welcome/)."
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause
  version: 1.0.0
servers:
  - url: https://api.onlineornot.com
    description: Client API
components:
  securitySchemes:
    api_token:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas: {}
  parameters: {}
paths:
  /{heartbeat_id}:
    get:
      tags:
        - Heartbeats
      summary: 'Send a heartbeat ping (GET). Use this from scripts or cron jobs to signal completion. Note: This endpoint uses oonchk.com, not api.onlineornot.com.'
      description: Send a heartbeat (GET)
      operationId: pingHeartbeatGet
      servers:
        - url: https://oonchk.com
          description: Heartbeat Ping Server
      parameters:
        - schema:
            type: string
            minLength: 8
            example: a1b2c3d4
            description: Heartbeat ID
          required: true
          description: Heartbeat ID
          name: heartbeat_id
          in: path
      responses:
        "200":
          description: Heartbeat received successfully
        "500":
          description: Internal Server Error
    post:
      tags:
        - Heartbeats
      summary: 'Send a heartbeat ping (POST). Use this from scripts or cron jobs to signal completion. Note: This endpoint uses oonchk.com, not api.onlineornot.com.'
      description: Send a heartbeat (POST)
      operationId: pingHeartbeat
      servers:
        - url: https://oonchk.com
          description: Heartbeat Ping Server
      parameters:
        - schema:
            type: string
            minLength: 8
            example: a1b2c3d4
            description: Heartbeat ID
          required: true
          description: Heartbeat ID
          name: heartbeat_id
          in: path
      responses:
        "200":
          description: Heartbeat received successfully
        "500":
          description: Internal Server Error
  /v1/tokens/verify:
    get:
      tags:
        - Tokens
      security:
        - api_token: []
      description: Verify a token
      responses:
        "200":
          description: Returns that the given API token is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Token ID
                      status:
                        type: string
                        example: active
                        description: Status
                    required:
                      - id
                      - status
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "401":
          description: Returns an error message if the token is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: "null"
                  success:
                    type: boolean
                    default: false
                    example: false
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                          example: 10001
                          description: Error code
                        message:
                          type: string
                          example: This API Token is invalid
                          description: A message to describe the error
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/tokens/permissions:
    get:
      tags:
        - Tokens
      security:
        - api_token: []
      description: Retrieve a token's permissions
      responses:
        "200":
          description: Returns the permissions of a given API token
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      permissions:
                        type: array
                        items:
                          type: string
                          example: uptime_checks (read)
                          description: One of the token's permissions
                    required:
                      - permissions
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/tokens:
    get:
      tags:
        - Tokens
      description: List all API tokens
      summary: Retrieve a paginated list of all API tokens for the organization
      operationId: listTokens
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            default: "1"
            example: 1
            description: Page number of paginated results.
          required: false
          description: Page number of paginated results.
          name: page
          in: query
        - schema:
            type: string
            default: "20"
            example: 20
            description: Number of items per page.
          required: false
          description: Number of items per page.
          name: per_page
          in: query
      responses:
        "200":
          description: Returns a list of API tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: a1b2c3d4
                          description: Token ID
                        name:
                          type: string
                          example: My API Token
                          description: Token name
                        expiresAfter:
                          type: string
                          example: "2025-12-31T23:59:59.000Z"
                          description: Token expiration date
                        createdAt:
                          type: string
                          example: "2024-01-15T10:30:00.000Z"
                          description: Token creation date
                        grants:
                          type: array
                          items:
                            type: object
                            properties:
                              scope:
                                type: string
                                enum:
                                  - UPTIME_CHECKS
                                  - STATUS_PAGES
                                  - HEARTBEAT_CHECKS
                                  - MAINTENANCE_WINDOWS
                                  - PEOPLE
                                  - INTEGRATIONS
                                  - API_TOKENS
                                  - WEBHOOKS
                              permission:
                                type: string
                                enum:
                                  - READ
                                  - EDIT
                            required:
                              - scope
                              - permission
                          description: List of grants (scope and permission pairs) assigned to this token
                      required:
                        - id
                        - name
                        - expiresAfter
                        - createdAt
                        - grants
                  result_info:
                    type: object
                    properties:
                      page:
                        type: number
                        default: 1
                        example: 1
                        description: Page number of paginated results.
                      per_page:
                        type: number
                        default: 20
                        example: 20
                        description: Number of items per page.
                      count:
                        type: number
                        example: 1
                        description: Number of items on the current page.
                      total_count:
                        type: number
                        example: 1
                        description: Total number of items.
                    required:
                      - count
                      - total_count
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - result_info
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
    post:
      tags:
        - Tokens
      description: Create an API token
      summary: Create a new API token for the organization
      operationId: createToken
      security:
        - api_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: My API Token
                  description: Token name
                grants:
                  type: array
                  items:
                    type: object
                    properties:
                      scope:
                        type: string
                        enum:
                          - UPTIME_CHECKS
                          - STATUS_PAGES
                          - HEARTBEAT_CHECKS
                          - MAINTENANCE_WINDOWS
                          - PEOPLE
                          - INTEGRATIONS
                          - API_TOKENS
                          - WEBHOOKS
                      permission:
                        type: string
                        enum:
                          - READ
                          - EDIT
                    required:
                      - scope
                      - permission
                  example:
                    - scope: UPTIME_CHECKS
                      permission: READ
                  description: List of grants (scope and permission pairs) for the token
              required:
                - name
                - grants
            examples:
              basic:
                summary: Create token with read permissions
                value:
                  name: My API Token
                  permissions:
                    - permission: UPTIME_CHECKS
                      permissionLevel: READ
              advanced:
                summary: Create token with multiple permissions
                value:
                  name: Full Access Token
                  permissions:
                    - permission: UPTIME_CHECKS
                      permissionLevel: EDIT
                    - permission: STATUS_PAGES
                      permissionLevel: EDIT
      responses:
        "201":
          description: Create a new API token
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Token ID
                      name:
                        type: string
                        example: My API Token
                        description: Token name
                      expiresAfter:
                        type: string
                        example: "2025-12-31T23:59:59.000Z"
                        description: Token expiration date
                      createdAt:
                        type: string
                        example: "2024-01-15T10:30:00.000Z"
                        description: Token creation date
                      token:
                        type: string
                        example: abc123def456ghi789jkl012mno345pqrs678tuv
                        description: The actual token string (only shown once on creation)
                    required:
                      - id
                      - name
                      - expiresAfter
                      - createdAt
                      - token
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/tokens/{token_id}:
    get:
      tags:
        - Tokens
      description: Retrieve an API token
      summary: Look up detailed information about a specific API token
      operationId: getToken
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            example: a1b2c3d4
            description: The token ID
          required: true
          description: The token ID
          name: token_id
          in: path
      responses:
        "200":
          description: Retrieve the specified API token
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Token ID
                      name:
                        type: string
                        example: My API Token
                        description: Token name
                      expiresAfter:
                        type: string
                        example: "2025-12-31T23:59:59.000Z"
                        description: Token expiration date
                      createdAt:
                        type: string
                        example: "2024-01-15T10:30:00.000Z"
                        description: Token creation date
                      grants:
                        type: array
                        items:
                          type: object
                          properties:
                            scope:
                              type: string
                              enum:
                                - UPTIME_CHECKS
                                - STATUS_PAGES
                                - HEARTBEAT_CHECKS
                                - MAINTENANCE_WINDOWS
                                - PEOPLE
                                - INTEGRATIONS
                                - API_TOKENS
                                - WEBHOOKS
                            permission:
                              type: string
                              enum:
                                - READ
                                - EDIT
                          required:
                            - scope
                            - permission
                        description: List of grants (scope and permission pairs) assigned to this token
                    required:
                      - id
                      - name
                      - expiresAfter
                      - createdAt
                      - grants
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "404":
          description: Token not found
        "500":
          description: Internal Server Error
    delete:
      tags:
        - Tokens
      description: Delete an API token
      summary: Permanently delete an API token
      operationId: deleteToken
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            example: a1b2c3d4
            description: The token ID
          required: true
          description: The token ID
          name: token_id
          in: path
      responses:
        "200":
          description: Delete the specified API token
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                    required:
                      - deleted
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "404":
          description: Token not found
        "500":
          description: Internal Server Error
  /v1/checks:
    get:
      tags:
        - Checks
      description: List all checks
      summary: Retrieve a paginated list of all uptime checks
      operationId: listChecks
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            default: "1"
            example: 1
            description: Page number of paginated results.
          required: false
          description: Page number of paginated results.
          name: page
          in: query
        - schema:
            type: string
            default: "20"
            example: 20
            description: Number of items per page.
          required: false
          description: Number of items per page.
          name: per_page
          in: query
      responses:
        "200":
          description: Returns a list of OnlineOrNot Checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: a1b2c3d4
                          description: Uptime Check ID
                        name:
                          type: string
                          example: My landing page
                          description: Name of the check
                        url:
                          type: string
                          format: uri
                          example: https://example.com
                          description: URL to check
                        check_type:
                          type: string
                          enum:
                            - UPTIME
                            - BROWSER
                          example: UPTIME
                          description: Indicates whether the check is a regular uptime check, or a browser check.
                        last_queued:
                          type: string
                          example: "2021-01-01T00:00:00.000Z"
                          description: Last time the check was queued
                        status:
                          type: string
                          enum:
                            - UP
                            - DOWN
                            - PENDING
                            - PAUSED
                            - MUTED
                            - MAINTENANCE
                            - RECOVERING
                            - VERIFYING
                          example: UP
                          description: Current status of the check based on the latest uptime event
                      required:
                        - id
                        - name
                        - url
                        - check_type
                        - last_queued
                        - status
                  result_info:
                    type: object
                    properties:
                      page:
                        type: number
                        default: 1
                        example: 1
                        description: Page number of paginated results.
                      per_page:
                        type: number
                        default: 20
                        example: 20
                        description: Number of items per page.
                      count:
                        type: number
                        example: 1
                        description: Number of items on the current page.
                      total_count:
                        type: number
                        example: 1
                        description: Total number of items.
                    required:
                      - count
                      - total_count
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - result_info
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
    post:
      tags:
        - Checks
      description: Create a check
      summary: Create a new uptime check to monitor a URL
      operationId: createCheck
      security:
        - api_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: My landing page
                  description: Name of the check
                url:
                  type: string
                  format: uri
                  example: https://example.com
                  description: URL to check
                text_to_search_for:
                  type: string
                  example: Example Domain
                  description: Text to search for in the response
                test_interval:
                  type: integer
                  minimum: 30
                  example: 60
                  description: Interval in seconds between checks
                reminder_alert_interval_minutes:
                  type: integer
                  minimum: -1
                  default: 1440
                  example: 1440
                  description: Interval in minutes between reminders (-1 for never)
                test_regions:
                  type: array
                  items:
                    type: string
                user_alerts:
                  type: array
                  items:
                    type: string
                slack_alerts:
                  type: array
                  items:
                    type: string
                incident_io_alerts:
                  type: array
                  items:
                    type: string
                microsoft_teams_alerts:
                  type: array
                  items:
                    type: string
                webhook_alerts:
                  type: array
                  items:
                    type: string
                confirmation_period_seconds:
                  type: integer
                  minimum: 0
                  default: 60
                  example: 60
                  description: Confirmation period in seconds
                recovery_period_seconds:
                  type: integer
                  minimum: 0
                  default: 180
                  example: 180
                  description: Recovery period in seconds
                timeout:
                  type: integer
                  minimum: 1000
                  default: 10000
                  example: 10000
                  description: Timeout in milliseconds
                type:
                  type: string
                  enum:
                    - UPTIME_CHECK
                    - BROWSER_CHECK
                  default: UPTIME_CHECK
                  example: UPTIME_CHECK
                  description: Type of check
                alert_priority:
                  type: string
                  enum:
                    - LOW
                    - HIGH
                  default: LOW
                  example: LOW
                  description: Alert Priority
                headers:
                  type: object
                  additionalProperties:
                    type: string
                    example: My Value
                    description: Header value
                  example:
                    X-My-Header: My Value
                  description: Headers to send with the request
                method:
                  type: string
                  enum:
                    - GET
                    - HEAD
                    - POST
                    - PUT
                    - PATCH
                    - DELETE
                  default: GET
                  example: GET
                  description: HTTP Method
                body:
                  type: string
                  example: Hello World
                follow_redirects:
                  type: boolean
                  default: true
                  example: true
                  description: Whether to follow redirects
                assertions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - JSON_BODY
                          - TEXT_BODY
                          - RESPONSE_HEADERS
                          - HTML_BODY
                        example: JSON_BODY
                        description: Type of assertion
                      property:
                        type: string
                        example: $.data.name
                        description: Property to assert on (JSONPath for JSON_BODY, header name for RESPONSE_HEADERS)
                      comparison:
                        type: string
                        enum:
                          - EQUALS
                          - NOT_EQUALS
                          - GREATER_THAN
                          - LESS_THAN
                          - "NULL"
                          - NOT_NULL
                          - EMPTY
                          - NOT_EMPTY
                          - CONTAINS
                          - NOT_CONTAINS
                          - "FALSE"
                          - "TRUE"
                        example: EQUALS
                        description: Comparison operator
                      expected:
                        type: string
                        example: John Doe
                        description: Expected value
                    required:
                      - type
                      - property
                      - comparison
                      - expected
                  example:
                    - type: JSON_BODY
                      property: $.data.name
                      comparison: EQUALS
                      expected: John Doe
                    - type: HTML_BODY
                      property: meta[name="description"]
                      comparison: NOT_EMPTY
                      expected: ""
                  description: Assertions to run on the response
                verify_ssl:
                  type: boolean
                  default: false
                  example: false
                  description: Whether to fail a check if SSL verification fails
                auth_username:
                  type: string
                  example: username
                  description: Username to use for URLs behind HTTP Basic Auth
                auth_password:
                  type: string
                  example: password
                  description: Password to use for URLs behind HTTP Basic Auth
                version:
                  type: string
                  enum:
                    - NODE20_PLAYWRIGHT
                  example: NODE20_PLAYWRIGHT
                  description: Version of the Browser Check
              required:
                - name
                - url
            examples:
              basic:
                summary: Basic uptime check
                value:
                  name: My Website Check
                  url: https://example.com
                  test_interval: 60
              advanced:
                summary: Advanced check with headers
                value:
                  name: API Check with Auth
                  url: https://api.example.com
                  headers:
                    Authorization: Bearer token
                  test_interval: 30
                  alert_priority: HIGH
      responses:
        "201":
          description: Create a new OnlineOrNot Check
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Uptime Check ID
                      name:
                        type: string
                        example: My landing page
                        description: Name of the check
                      url:
                        type: string
                        format: uri
                        example: https://example.com
                        description: URL to check
                      check_type:
                        type: string
                        enum:
                          - UPTIME
                          - BROWSER
                        example: UPTIME
                        description: Indicates whether the check is a regular uptime check, or a browser check.
                      last_queued:
                        type: string
                        example: "2021-01-01T00:00:00.000Z"
                        description: Last time the check was queued
                      status:
                        type: string
                        enum:
                          - UP
                          - DOWN
                          - PENDING
                          - PAUSED
                          - MUTED
                          - MAINTENANCE
                          - RECOVERING
                          - VERIFYING
                        example: UP
                        description: Current status of the check based on the latest uptime event
                    required:
                      - id
                      - name
                      - url
                      - check_type
                      - last_queued
                      - status
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/checks/{check_id}:
    get:
      tags:
        - Checks
      description: Retrieve a check
      summary: Look up detailed information about a specific uptime check
      operationId: getCheck
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            minLength: 8
            example: a1b2c3d4
            description: Uptime Check ID
          required: true
          description: Uptime Check ID
          name: check_id
          in: path
      responses:
        "200":
          description: Retrieve the specified OnlineOrNot Check
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Uptime Check ID
                      name:
                        type: string
                        example: My landing page
                        description: Name of the check
                      url:
                        type: string
                        format: uri
                        example: https://example.com
                        description: URL to check
                      check_type:
                        type: string
                        enum:
                          - UPTIME
                          - BROWSER
                        example: UPTIME
                        description: Indicates whether the check is a regular uptime check, or a browser check.
                      last_queued:
                        type: string
                        example: "2021-01-01T00:00:00.000Z"
                        description: Last time the check was queued
                      status:
                        type: string
                        enum:
                          - UP
                          - DOWN
                          - PENDING
                          - PAUSED
                          - MUTED
                          - MAINTENANCE
                          - RECOVERING
                          - VERIFYING
                        example: UP
                        description: Current status of the check based on the latest uptime event
                    required:
                      - id
                      - name
                      - url
                      - check_type
                      - last_queued
                      - status
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
    delete:
      tags:
        - Checks
      description: Delete a check
      summary: Permanently delete an uptime check
      operationId: deleteCheck
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            minLength: 8
            example: a1b2c3d4
            description: Uptime Check ID
          required: true
          description: Uptime Check ID
          name: check_id
          in: path
      responses:
        "200":
          description: Returns the deleted OnlineOrNot Check's ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Uptime Check ID
                    required:
                      - id
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
    patch:
      tags:
        - Checks
      description: Modify a check
      summary: Modify the configuration of an existing uptime check
      operationId: updateCheck
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            minLength: 8
            example: a1b2c3d4
            description: Uptime Check ID
          required: true
          description: Uptime Check ID
          name: check_id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: My landing page
                  description: Name of the check
                url:
                  type: string
                  format: uri
                  example: https://example.com
                  description: URL to check
                text_to_search_for:
                  type: string
                  example: Example Domain
                  description: Text to search for in the response
                test_interval:
                  type: integer
                  minimum: 30
                  example: 60
                  description: Interval in seconds between checks
                type:
                  type: string
                  enum:
                    - UPTIME_CHECK
                    - BROWSER_CHECK
                  example: UPTIME_CHECK
                  description: Type of check
                alert_priority:
                  type: string
                  enum:
                    - LOW
                    - HIGH
                  example: LOW
                  description: Alert Priority
                headers:
                  type: object
                  additionalProperties:
                    type: string
                    example: My Value
                    description: Header value
                  example:
                    X-My-Header: My Value
                  description: Headers to send with the request
                method:
                  type: string
                  enum:
                    - GET
                    - HEAD
                    - POST
                    - PUT
                    - PATCH
                    - DELETE
                  example: GET
                  description: HTTP Method
                body:
                  type: string
                  example: Hello World
                follow_redirects:
                  type: boolean
                  example: true
                  description: Whether to follow redirects
                assertions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - JSON_BODY
                          - TEXT_BODY
                          - RESPONSE_HEADERS
                          - HTML_BODY
                        example: JSON_BODY
                        description: Type of assertion
                      property:
                        type: string
                        example: $.data.name
                        description: Property to assert on (JSONPath for JSON_BODY, header name for RESPONSE_HEADERS)
                      comparison:
                        type: string
                        enum:
                          - EQUALS
                          - NOT_EQUALS
                          - GREATER_THAN
                          - LESS_THAN
                          - "NULL"
                          - NOT_NULL
                          - EMPTY
                          - NOT_EMPTY
                          - CONTAINS
                          - NOT_CONTAINS
                          - "FALSE"
                          - "TRUE"
                        example: EQUALS
                        description: Comparison operator
                      expected:
                        type: string
                        example: John Doe
                        description: Expected value
                    required:
                      - type
                      - property
                      - comparison
                      - expected
                verify_ssl:
                  type: boolean
                  example: false
                  description: Whether to fail a check if SSL verification fails
                auth_username:
                  type: string
                  example: username
                  description: Username to use for URLs behind HTTP Basic Auth
                auth_password:
                  type: string
                  example: password
                  description: Password to use for URLs behind HTTP Basic Auth
                timeout:
                  type: integer
                  minimum: 1000
                  example: 10000
                  description: Timeout in milliseconds
                version:
                  type: string
                  enum:
                    - NODE20_PLAYWRIGHT
                  example: NODE20_PLAYWRIGHT
                  description: Version of the Browser Check
                reminder_alert_interval_minutes:
                  type: integer
                  minimum: -1
                  example: 1440
                  description: Interval in minutes between reminders (-1 for never)
                confirmation_period_seconds:
                  type: integer
                  minimum: 0
                  example: 60
                  description: Confirmation period in seconds
                recovery_period_seconds:
                  type: integer
                  minimum: 0
                  example: 180
                  description: Recovery period in seconds
                test_regions:
                  type: array
                  items:
                    type: string
                user_alerts:
                  type: array
                  items:
                    type: string
                slack_alerts:
                  type: array
                  items:
                    type: string
                incident_io_alerts:
                  type: array
                  items:
                    type: string
                microsoft_teams_alerts:
                  type: array
                  items:
                    type: string
                webhook_alerts:
                  type: array
                  items:
                    type: string
                paused:
                  type: boolean
                  example: false
                  description: Whether the check is paused (completely stops execution) or actively running
                muted:
                  type: boolean
                  example: false
                  description: Whether the check is muted (continues running but suppresses alerts) or sending alerts normally
            examples:
              updateHeaders:
                summary: Update check headers
                value:
                  muted: true
                  headers:
                    X-Custom-Header: new-value
                    My-Unused-Header: null
      responses:
        "200":
          description: Modify an OnlineOrNot Check
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Uptime Check ID
                      name:
                        type: string
                        example: My landing page
                        description: Name of the check
                      url:
                        type: string
                        format: uri
                        example: https://example.com
                        description: URL to check
                      check_type:
                        type: string
                        enum:
                          - UPTIME
                          - BROWSER
                        example: UPTIME
                        description: Indicates whether the check is a regular uptime check, or a browser check.
                      last_queued:
                        type: string
                        example: "2021-01-01T00:00:00.000Z"
                        description: Last time the check was queued
                      status:
                        type: string
                        enum:
                          - UP
                          - DOWN
                          - PENDING
                          - PAUSED
                          - MUTED
                          - MAINTENANCE
                          - RECOVERING
                          - VERIFYING
                        example: UP
                        description: Current status of the check based on the latest uptime event
                    required:
                      - id
                      - name
                      - url
                      - check_type
                      - last_queued
                      - status
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/heartbeats:
    get:
      tags:
        - Heartbeats
      description: List all heartbeats
      summary: Retrieve a paginated list of all heartbeat monitors
      operationId: listHeartbeats
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            default: "1"
            example: 1
            description: Page number of paginated results.
          required: false
          description: Page number of paginated results.
          name: page
          in: query
        - schema:
            type: string
            default: "20"
            example: 20
            description: Number of items per page.
          required: false
          description: Number of items per page.
          name: per_page
          in: query
      responses:
        "200":
          description: Returns a list of OnlineOrNot Heartbeats
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: a1b2c3d4
                          description: Heartbeat ID
                        name:
                          type: string
                          example: Daily backup job
                          description: Name of the heartbeat monitor
                        status:
                          type:
                            - string
                            - "null"
                          enum:
                            - UP
                            - DOWN
                            - PENDING
                            - PAUSED
                            - MUTED
                          example: UP
                          description: Current status of the heartbeat
                        last_seen:
                          type:
                            - string
                            - "null"
                          example: "2021-01-01T00:00:00.000Z"
                          description: Last time a heartbeat ping was received
                        report_period:
                          type:
                            - number
                            - "null"
                          example: 3600
                          description: Expected interval in seconds between heartbeat pings
                        report_period_cron:
                          type:
                            - string
                            - "null"
                          example: 0 0 * * *
                          description: Cron expression for expected heartbeat schedule
                        timezone:
                          type:
                            - string
                            - "null"
                          example: America/New_York
                          description: Timezone for cron schedule
                        grace_period:
                          type: number
                          example: 300
                          description: Grace period in seconds before alerting
                        reminder_alert_interval_minutes:
                          type: number
                          example: 1440
                          description: Interval in minutes between reminder alerts
                        alert_priority:
                          type: string
                          enum:
                            - LOW
                            - HIGH
                          example: LOW
                          description: Alert priority level
                        created_at:
                          type:
                            - string
                            - "null"
                          example: "2021-01-01T00:00:00.000Z"
                          description: When the heartbeat was created
                        updated_at:
                          type:
                            - string
                            - "null"
                          example: "2021-01-01T00:00:00.000Z"
                          description: When the heartbeat was last updated
                      required:
                        - id
                        - name
                        - status
                        - last_seen
                        - report_period
                        - report_period_cron
                        - timezone
                        - grace_period
                        - reminder_alert_interval_minutes
                        - alert_priority
                        - created_at
                        - updated_at
                  result_info:
                    type: object
                    properties:
                      page:
                        type: number
                        default: 1
                        example: 1
                        description: Page number of paginated results.
                      per_page:
                        type: number
                        default: 20
                        example: 20
                        description: Number of items per page.
                      count:
                        type: number
                        example: 1
                        description: Number of items on the current page.
                      total_count:
                        type: number
                        example: 1
                        description: Total number of items.
                    required:
                      - count
                      - total_count
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - result_info
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
    post:
      tags:
        - Heartbeats
      description: Create a heartbeat
      summary: Create a new heartbeat monitor for cron jobs or scheduled tasks
      operationId: createHeartbeat
      security:
        - api_token: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Daily backup job
                  description: Name of the heartbeat monitor
                report_period:
                  type: integer
                  minimum: 1
                  example: 3600
                  description: Expected interval in seconds between heartbeat pings (for simple schedule)
                report_period_cron:
                  type: string
                  example: 0 0 * * *
                  description: Cron expression for expected heartbeat schedule
                timezone:
                  type: string
                  example: America/New_York
                  description: Timezone for cron schedule
                grace_period:
                  type: integer
                  minimum: 1
                  example: 300
                  description: Grace period in seconds to wait after missed heartbeat before alerting
                reminder_alert_interval_minutes:
                  type: integer
                  minimum: -1
                  default: 1440
                  example: 1440
                  description: Interval in minutes between reminder alerts (-1 for never)
                user_alerts:
                  type: array
                  items:
                    type: string
                  description: Array of user IDs to alert
                slack_alerts:
                  type: array
                  items:
                    type: string
                  description: Array of Slack integration IDs to alert
                webhook_alerts:
                  type: array
                  items:
                    type: string
                  description: Array of webhook integration IDs to alert
                incident_io_alerts:
                  type: array
                  items:
                    type: string
                  description: Array of incident.io integration IDs to alert
                microsoft_teams_alerts:
                  type: array
                  items:
                    type: string
                  description: Array of Microsoft Teams integration IDs to alert
                alert_priority:
                  type: string
                  enum:
                    - LOW
                    - HIGH
                  default: LOW
                  example: LOW
                  description: Alert priority level
              required:
                - name
                - grace_period
            examples:
              simple:
                summary: Simple interval heartbeat
                value:
                  name: Daily backup job
                  report_period: 86400
                  grace_period: 300
              cron:
                summary: Cron-based heartbeat
                value:
                  name: Hourly sync task
                  report_period_cron: 0 * * * *
                  timezone: America/New_York
                  grace_period: 600
                  alert_priority: HIGH
      responses:
        "201":
          description: Create a new OnlineOrNot Heartbeat
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Heartbeat ID
                      name:
                        type: string
                        example: Daily backup job
                        description: Name of the heartbeat monitor
                      status:
                        type:
                          - string
                          - "null"
                        enum:
                          - UP
                          - DOWN
                          - PENDING
                          - PAUSED
                          - MUTED
                        example: UP
                        description: Current status of the heartbeat
                      last_seen:
                        type:
                          - string
                          - "null"
                        example: "2021-01-01T00:00:00.000Z"
                        description: Last time a heartbeat ping was received
                      report_period:
                        type:
                          - number
                          - "null"
                        example: 3600
                        description: Expected interval in seconds between heartbeat pings
                      report_period_cron:
                        type:
                          - string
                          - "null"
                        example: 0 0 * * *
                        description: Cron expression for expected heartbeat schedule
                      timezone:
                        type:
                          - string
                          - "null"
                        example: America/New_York
                        description: Timezone for cron schedule
                      grace_period:
                        type: number
                        example: 300
                        description: Grace period in seconds before alerting
                      reminder_alert_interval_minutes:
                        type: number
                        example: 1440
                        description: Interval in minutes between reminder alerts
                      alert_priority:
                        type: string
                        enum:
                          - LOW
                          - HIGH
                        example: LOW
                        description: Alert priority level
                      created_at:
                        type:
                          - string
                          - "null"
                        example: "2021-01-01T00:00:00.000Z"
                        description: When the heartbeat was created
                      updated_at:
                        type:
                          - string
                          - "null"
                        example: "2021-01-01T00:00:00.000Z"
                        description: When the heartbeat was last updated
                      user_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of user IDs subscribed to alerts
                      slack_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of Slack integration IDs subscribed to alerts
                      webhook_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of webhook integration IDs subscribed to alerts
                      incident_io_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of incident.io integration IDs subscribed to alerts
                      microsoft_teams_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of Microsoft Teams integration IDs subscribed to alerts
                    required:
                      - id
                      - name
                      - status
                      - last_seen
                      - report_period
                      - report_period_cron
                      - timezone
                      - grace_period
                      - reminder_alert_interval_minutes
                      - alert_priority
                      - created_at
                      - updated_at
                      - user_alerts
                      - slack_alerts
                      - webhook_alerts
                      - incident_io_alerts
                      - microsoft_teams_alerts
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/heartbeats/{heartbeat_id}:
    get:
      tags:
        - Heartbeats
      description: Retrieve a heartbeat
      summary: Look up detailed information about a specific heartbeat monitor
      operationId: getHeartbeat
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            minLength: 8
            example: a1b2c3d4
            description: Heartbeat ID
          required: true
          description: Heartbeat ID
          name: heartbeat_id
          in: path
      responses:
        "200":
          description: Retrieve the specified OnlineOrNot Heartbeat
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Heartbeat ID
                      name:
                        type: string
                        example: Daily backup job
                        description: Name of the heartbeat monitor
                      status:
                        type:
                          - string
                          - "null"
                        enum:
                          - UP
                          - DOWN
                          - PENDING
                          - PAUSED
                          - MUTED
                        example: UP
                        description: Current status of the heartbeat
                      last_seen:
                        type:
                          - string
                          - "null"
                        example: "2021-01-01T00:00:00.000Z"
                        description: Last time a heartbeat ping was received
                      report_period:
                        type:
                          - number
                          - "null"
                        example: 3600
                        description: Expected interval in seconds between heartbeat pings
                      report_period_cron:
                        type:
                          - string
                          - "null"
                        example: 0 0 * * *
                        description: Cron expression for expected heartbeat schedule
                      timezone:
                        type:
                          - string
                          - "null"
                        example: America/New_York
                        description: Timezone for cron schedule
                      grace_period:
                        type: number
                        example: 300
                        description: Grace period in seconds before alerting
                      reminder_alert_interval_minutes:
                        type: number
                        example: 1440
                        description: Interval in minutes between reminder alerts
                      alert_priority:
                        type: string
                        enum:
                          - LOW
                          - HIGH
                        example: LOW
                        description: Alert priority level
                      created_at:
                        type:
                          - string
                          - "null"
                        example: "2021-01-01T00:00:00.000Z"
                        description: When the heartbeat was created
                      updated_at:
                        type:
                          - string
                          - "null"
                        example: "2021-01-01T00:00:00.000Z"
                        description: When the heartbeat was last updated
                      user_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of user IDs subscribed to alerts
                      slack_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of Slack integration IDs subscribed to alerts
                      webhook_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of webhook integration IDs subscribed to alerts
                      incident_io_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of incident.io integration IDs subscribed to alerts
                      microsoft_teams_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of Microsoft Teams integration IDs subscribed to alerts
                    required:
                      - id
                      - name
                      - status
                      - last_seen
                      - report_period
                      - report_period_cron
                      - timezone
                      - grace_period
                      - reminder_alert_interval_minutes
                      - alert_priority
                      - created_at
                      - updated_at
                      - user_alerts
                      - slack_alerts
                      - webhook_alerts
                      - incident_io_alerts
                      - microsoft_teams_alerts
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
    patch:
      tags:
        - Heartbeats
      description: Modify a heartbeat
      summary: Modify the configuration of an existing heartbeat monitor
      operationId: updateHeartbeat
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            minLength: 8
            example: a1b2c3d4
            description: Heartbeat ID
          required: true
          description: Heartbeat ID
          name: heartbeat_id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Daily backup job
                  description: Name of the heartbeat monitor
                report_period:
                  type:
                    - integer
                    - "null"
                  minimum: 1
                  example: 3600
                  description: Expected interval in seconds between heartbeat pings (for simple schedule)
                report_period_cron:
                  type:
                    - string
                    - "null"
                  example: 0 0 * * *
                  description: Cron expression for expected heartbeat schedule
                timezone:
                  type:
                    - string
                    - "null"
                  example: America/New_York
                  description: Timezone for cron schedule
                grace_period:
                  type: integer
                  minimum: 1
                  example: 300
                  description: Grace period in seconds to wait after missed heartbeat before alerting
                reminder_alert_interval_minutes:
                  type: integer
                  minimum: -1
                  example: 1440
                  description: Interval in minutes between reminder alerts (-1 for never)
                user_alerts:
                  type: array
                  items:
                    type: string
                  description: Array of user IDs to alert
                slack_alerts:
                  type: array
                  items:
                    type: string
                  description: Array of Slack integration IDs to alert
                webhook_alerts:
                  type: array
                  items:
                    type: string
                  description: Array of webhook integration IDs to alert
                incident_io_alerts:
                  type: array
                  items:
                    type: string
                  description: Array of incident.io integration IDs to alert
                microsoft_teams_alerts:
                  type: array
                  items:
                    type: string
                  description: Array of Microsoft Teams integration IDs to alert
                alert_priority:
                  type: string
                  enum:
                    - LOW
                    - HIGH
                  example: LOW
                  description: Alert priority level
                paused:
                  type: boolean
                  example: false
                  description: Whether the heartbeat is paused
                muted:
                  type: boolean
                  example: false
                  description: Whether the heartbeat is muted (continues monitoring but suppresses alerts)
            examples:
              updateSchedule:
                summary: Update heartbeat schedule
                value:
                  report_period: 7200
                  grace_period: 600
              pause:
                summary: Pause heartbeat monitoring
                value:
                  paused: true
              mute:
                summary: Mute heartbeat alerts
                value:
                  muted: true
      responses:
        "200":
          description: Modify an OnlineOrNot Heartbeat
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Heartbeat ID
                      name:
                        type: string
                        example: Daily backup job
                        description: Name of the heartbeat monitor
                      status:
                        type:
                          - string
                          - "null"
                        enum:
                          - UP
                          - DOWN
                          - PENDING
                          - PAUSED
                          - MUTED
                        example: UP
                        description: Current status of the heartbeat
                      last_seen:
                        type:
                          - string
                          - "null"
                        example: "2021-01-01T00:00:00.000Z"
                        description: Last time a heartbeat ping was received
                      report_period:
                        type:
                          - number
                          - "null"
                        example: 3600
                        description: Expected interval in seconds between heartbeat pings
                      report_period_cron:
                        type:
                          - string
                          - "null"
                        example: 0 0 * * *
                        description: Cron expression for expected heartbeat schedule
                      timezone:
                        type:
                          - string
                          - "null"
                        example: America/New_York
                        description: Timezone for cron schedule
                      grace_period:
                        type: number
                        example: 300
                        description: Grace period in seconds before alerting
                      reminder_alert_interval_minutes:
                        type: number
                        example: 1440
                        description: Interval in minutes between reminder alerts
                      alert_priority:
                        type: string
                        enum:
                          - LOW
                          - HIGH
                        example: LOW
                        description: Alert priority level
                      created_at:
                        type:
                          - string
                          - "null"
                        example: "2021-01-01T00:00:00.000Z"
                        description: When the heartbeat was created
                      updated_at:
                        type:
                          - string
                          - "null"
                        example: "2021-01-01T00:00:00.000Z"
                        description: When the heartbeat was last updated
                      user_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of user IDs subscribed to alerts
                      slack_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of Slack integration IDs subscribed to alerts
                      webhook_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of webhook integration IDs subscribed to alerts
                      incident_io_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of incident.io integration IDs subscribed to alerts
                      microsoft_teams_alerts:
                        type: array
                        items:
                          type: string
                        description: Array of Microsoft Teams integration IDs subscribed to alerts
                    required:
                      - id
                      - name
                      - status
                      - last_seen
                      - report_period
                      - report_period_cron
                      - timezone
                      - grace_period
                      - reminder_alert_interval_minutes
                      - alert_priority
                      - created_at
                      - updated_at
                      - user_alerts
                      - slack_alerts
                      - webhook_alerts
                      - incident_io_alerts
                      - microsoft_teams_alerts
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
    delete:
      tags:
        - Heartbeats
      description: Delete a heartbeat
      summary: Permanently delete a heartbeat monitor
      operationId: deleteHeartbeat
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            minLength: 8
            example: a1b2c3d4
            description: Heartbeat ID
          required: true
          description: Heartbeat ID
          name: heartbeat_id
          in: path
      responses:
        "200":
          description: Returns the deleted OnlineOrNot Heartbeat's ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a1b2c3d4
                        description: Heartbeat ID
                    required:
                      - id
                  success:
                    type: boolean
                    default: true
                    example: true
                    description: Whether the API call was successful
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        type:
                          type: string
                      required:
                        - code
                        - message
                    example: []
                required:
                  - result
                  - success
                  - errors
                  - messages
        "500":
          description: Internal Server Error
  /v1/maintenance-windows:
    get:
      tags:
        - Maintenance Windows
      description: List all maintenance windows
      summary: Retrieve a paginated list of all maintenance windows
      operationId: listMaintenanceWindows
      security:
        - api_token: []
      parameters:
        - schema:
            type: string
            default: "1"
            example: 1
            description: Page number of paginated results.
          required: false
          description: Page number of paginated results.
          name: page
          in: query
        - schema:
            type: string
            default: "20"
            example: 20
            description: Number of items per page.
          required: false
          description: Number of items per page.
          name: per_page
          in: query
        - schema:
            type: string
            example: weekly
            description: Search term to filter maintenance windows by name
          required: false
          description: Search term to filter maintenance windows by name
          name: search
          in: query
      responses:
        "200":
          description: Returns a list of maintenance windows
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: abc123def456
                          description: Maintenance Window ID
                        name:
                          type: string
                          example: Weekly Maintenance
                          description: Name of the maintenance window
                        start_date:
                          type: string
                          example: 09:00
                          description: Start time of the maintenance window (HH:MM format)
                        duration_minutes:
                          type: number
                          example: 60
                          description: Duration of the maintenance window in minutes
                        timezone:
                          type: string
                          example: America/New_York
                          description: Timezone for the maintenance window
                        days_of_week:
                          type: array
                          items:
                            type: string
                            enum:
                              - SUNDAY
                              - MONDAY
                              - TUESDAY
                              - WEDNESDAY
                              - THURSDAY
                              - FRIDAY
                              - SATURDAY
                          example:
                            - MONDAY
                            - WEDNESDAY
                            - FRIDAY
                          description: Days of the week when the maintenance window is active
                        status:
                          type: string
                          enum:
                            - ENABLED
                            - DISABLED
[...]
